WORDPRESS_DB_NAME=panikwiat
WORDPRESS_DB_USER=panikwiat
WORDPRESS_DB_PASSWORD=panikwiat
WORDPRESS_DB_ROOT_PASSWORD=root
WORDPRESS_PORT=8080
DB_PORT=3307
WORDPRESS_URL=http://localhost:8080
WORDPRESS_TITLE="Pani Kwiat Local"
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=admin12345
WORDPRESS_ADMIN_EMAIL=admin@example.com
WORDPRESS_DEBUG=1
