<section class="about-me">
    <div class="container">
        <h2>
            Pani Kwiat - Idealne dekoracje kwiatowe <span>na każdą okazję</span>
        </h2>
        <div class="wrapper">
            <div class="text-wrapper">
                <h3>
                    Kim jestem?
                </h3>
                <p>Swoją przygodę z kwiatami rozpoczęłam w Londynie w 1994 roku. Ukończyłam tam prywatną
                    szkołę układania kwiatów Jane Packer. W niej poznałam wszystkie tajniki technik florystycznych
                    jak również tworzenia kompozycji. Po kilku latach pracy w tamtejszej kwiaciarni, wróciłam do
                    Polski, gdzie od wielu lat prowadzę swoją firmę florystyczną. Moim klientami, była TV, salony
                    samochodowe miedzy innymi Team z Długołeki, Pizza Hut, Starbucks, festiwal Chopinowski w
                    Dusznikach, przegląd Piosenki Aktorskiej. Przez wiele lat byłam dekoratorem kościoła na
                    Popowicach.
                </p>
                <p>
                    Ostatnich kilka lat spędziłam w Brisbane ( Australia), gdzie pośród 12 florystów z różnych stron
świata rozwijałam swoje umiejętości i uczyłam się florystyki, nie tylko europejskiej, ale także
miałam okazje poznać trendy ogólnoświatowe poprzez różnorodność narodową naszego zespołu.
Jestem w Polsce. Zapraszam Państwa do odwieszenia mojej strony internetowej i kontaktu ze mną.
                </p>
            </div>
            <div class="image-wrapper">
                <img src="../../public/panikwiat.jpg" alt="">
            </div>
        
        </div>
    </div>
</section>

<style lang="scss">
.about-me {
    .wrapper {
        display: grid;

        @media screen and (min-width:992px) {
            grid-template-columns: 1fr 1fr;
            gap: 30px
        }

        @media screen and (min-width:1200px) {
            grid-template-columns: 1fr 1fr;
            gap: 100px
        }
    }
}

</style>