<section class="about-me" id="kimjestem" data-astro-cid-v2cbyr3p="">
    <div class="container" data-astro-cid-v2cbyr3p="">
        <h2 data-astro-cid-v2cbyr3p="">
            Pani Kwiat - Idealne dekoracje kwiatowe na każdą okazję
        </h2>
        <div class="wrapper" data-astro-cid-v2cbyr3p="">
            <div class="image-wrapper" data-astro-cid-v2cbyr3p=""> <img src="/panikwiat.jpg" decoding="async"
                    loading="lazy" alt="" data-astro-cid-v2cbyr3p="" width="800" height="800"> </div>
            <div class="text-wrapper" data-astro-cid-v2cbyr3p="">
                <h3 data-astro-cid-v2cbyr3p="">
                    Kim jestem?
                </h3>
                <p data-astro-cid-v2cbyr3p="">Swoją przygodę z kwiatami rozpoczęłam w Londynie w 1994 roku. Ukończyłam
                    tam prywatną
                    szkołę układania kwiatów Jane Packer. W niej poznałam wszystkie tajniki technik florystycznych
                    jak również tworzenia kompozycji. Po kilku latach pracy w tamtejszej kwiaciarni, wróciłam do
                    Polski, gdzie od wielu lat prowadzę swoją firmę florystyczną. Moim klientami, była TV, salony
                    samochodowe miedzy innymi Team z Długołeki, Pizza Hut, Starbucks, festiwal Chopinowski w
                    Dusznikach, przegląd Piosenki Aktorskiej. Przez wiele lat byłam dekoratorem kościoła na
                    Popowicach.
                </p>
                <p data-astro-cid-v2cbyr3p="">
                    Ostatnich kilka lat spędziłam w Brisbane ( Australia), gdzie pośród 12 florystów z różnych stron
                    świata rozwijałam swoje umiejętości i uczyłam się florystyki, nie tylko europejskiej, ale także
                    miałam okazje poznać trendy ogólnoświatowe poprzez różnorodność narodową naszego zespołu.
                    Jestem w Polsce. Zapraszam Państwa do odwieszenia mojej strony internetowej i kontaktu ze mną.
                </p> <button class="btn btn-white" onclick="window.kontaktowy1.showModal()"
                    data-astro-cid-fziqq5va="">Skontaktuj się ze mną</button>
                <dialog id="kontaktowy1" data-astro-cid-fziqq5va="">
                    <div data-astro-cid-v2cbyr3p="">
                        <div class="wrapper-form" data-astro-cid-v2cbyr3p="">
                            <div class="phone-wrapper" data-astro-cid-v2cbyr3p="">
                                <h3 data-astro-cid-v2cbyr3p="">Skontaktuj się ze mną<br data-astro-cid-v2cbyr3p="">
                                    telefonicznie</h3>
                                <hr data-astro-cid-v2cbyr3p=""> <a href="tel:+48501744994" class="phone"
                                    data-astro-cid-v2cbyr3p=""> <svg xmlns="http://www.w3.org/2000/svg" width="42"
                                        height="42" viewBox="0 0 42 42" fill="white" data-astro-cid-v2cbyr3p="">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M0 6C0 4.4087 0.632141 2.88258 1.75736 1.75736C2.88258 0.632141 4.4087 0 6 0H8.744C10.464 0 11.964 1.172 12.382 2.84L14.592 11.686C14.7711 12.402 14.7349 13.1549 14.488 13.8504C14.2411 14.546 13.7945 15.1532 13.204 15.596L10.618 17.536C10.348 17.738 10.29 18.034 10.366 18.24C11.4948 21.3097 13.2772 24.0974 15.5899 26.4101C17.9026 28.7228 20.6903 30.5052 23.76 31.634C23.966 31.71 24.26 31.652 24.464 31.382L26.404 28.796C26.8468 28.2055 27.454 27.7589 28.1496 27.512C28.8451 27.2651 29.598 27.2289 30.314 27.408L39.16 29.618C40.828 30.036 42 31.536 42 33.258V36C42 37.5913 41.3679 39.1174 40.2426 40.2426C39.1174 41.3679 37.5913 42 36 42H31.5C14.104 42 0 27.896 0 10.5V6Z"
                                            fill="#FFF" data-astro-cid-v2cbyr3p=""></path>
                                    </svg>
                                    <span data-astro-cid-v2cbyr3p="">
                                        501 744 994
                                    </span> </a>
                            </div>
                            <div class="form-wrapper" data-astro-cid-v2cbyr3p="">
                                <h3 data-astro-cid-v2cbyr3p="">Lub przez formularz kontaktowy</h3>
                                <form target="_blank" action="https://formsubmit.co/panikwiat@gmail.com" method="POST"
                                    data-astro-reload="" data-astro-cid-v2cbyr3p="">
                                    <div class="form-group" data-astro-cid-v2cbyr3p="">
                                        <div class="form-row" data-astro-cid-v2cbyr3p="">
                                            <div class="col" data-astro-cid-v2cbyr3p=""> <label
                                                    data-astro-cid-v2cbyr3p="">Wprowadź imię: *</label> <input
                                                    type="text" name="name" class="form-control"
                                                    placeholder="Wprowadź imię..." required=""
                                                    data-astro-cid-v2cbyr3p=""> </div>
                                            <div class="col" data-astro-cid-v2cbyr3p=""> <label
                                                    data-astro-cid-v2cbyr3p="">Wprowadź numer telefonu: *</label> <input
                                                    type="text" name="name" class="form-control"
                                                    placeholder="Wprowadź numer telefonu..." required=""
                                                    data-astro-cid-v2cbyr3p=""> </div>
                                            <div class="col" data-astro-cid-v2cbyr3p=""> <label
                                                    data-astro-cid-v2cbyr3p="">Wprowadź adres e-mail: *</label> <input
                                                    type="email" name="email" class="form-control"
                                                    placeholder="Wprowadź adres e-mail..." required=""
                                                    data-astro-cid-v2cbyr3p=""> </div>
                                        </div>
                                    </div>
                                    <div class="form-group" data-astro-cid-v2cbyr3p=""> <label
                                            data-astro-cid-v2cbyr3p="">Wiadomość: *</label>
                                        <textarea placeholder="Napisz wiadomość..." class="form-control" name="Wiadomość: *" rows="6" required=""
                                            data-astro-cid-v2cbyr3p=""></textarea>
                                    </div> <input type="text" name="_honey" style="display:none"
                                        data-astro-cid-v2cbyr3p=""> <input type="hidden" name="_next"
                                        value="https://panikwiat.pl" data-astro-cid-v2cbyr3p=""> <input
                                        type="hidden" name="_captcha" value="false" data-astro-cid-v2cbyr3p="">
                                    <div class="btn-form-wrapper" data-astro-cid-v2cbyr3p="">
                                        <div data-astro-cid-v2cbyr3p=""> <input type="checkbox" id="rodo"
                                                name="rodo" value="Boat" data-astro-cid-v2cbyr3p=""> <label
                                                for="rodo" data-astro-cid-v2cbyr3p=""> Wyrażam zgodę na
                                                przetwarzanie moich danych osobowych w celu realizacji tego
                                                zapytania.*</label> </div> <button type="submit"
                                            class="btn btn-primary" data-astro-cid-v2cbyr3p="">Wyślij
                                            wiadomość</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <form method="dialog" data-astro-cid-fziqq5va=""> <button class="close-button-form"
                            data-astro-cid-v2cbyr3p="">X</button> </form>
                </dialog>
            </div>
        </div>
    </div>
</section>
