<section id="dekoracje" class="cta" data-astro-cid-i344ymn4="">
    <div class="container" data-astro-cid-i344ymn4="">
        <div class="cta-wrapper" data-astro-cid-i344ymn4="">
            <h2 data-astro-cid-i344ymn4="">Szukasz dekoracji <span data-astro-cid-i344ymn4="">na już?</span></h2>
            <h3 data-astro-cid-i344ymn4="">zobacz kompozycje, które możesz kupić jeszcze dziś!</h3>
            <div class="btn-wrapper" data-astro-cid-i344ymn4="">
                <a
                    href="https://www.facebook.com/marketplace/profile/100058801496320/?ref=permalink"
                    target="_blank"
                    class="btn btn-primary"
                    data-astro-cid-i344ymn4=""
                >
                    przeglądaj gotowe produkty
                </a>
            </div>
        </div>
    </div>
</section>
