<footer>
<div class="container">
    <div class="wrapper">
        <div class="info-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="220" height="65" viewBox="0 0 220 65" fill="none">
                <path d="M115.846 0V17.7176H113.686V0H115.846Z" fill="#151515"/>
                <path d="M109.364 0V17.7176H107.273L97.5526 3.80653H97.3784V17.7176H95.2183V0H97.3087L107.064 13.9457H107.238V0H109.364Z" fill="#151515"/>
                <path d="M79.3744 17.7176H77.1097L83.6598 0H85.8897L92.4398 17.7176H90.1751L84.8444 2.80299H84.7051L79.3744 17.7176ZM80.2106 10.7967H89.3389V12.7H80.2106V10.7967Z" fill="#151515"/>
                <path d="M64.8934 17.7176V0H70.9209C72.3204 0 73.4643 0.250885 74.3527 0.752654C75.247 1.24866 75.909 1.92057 76.3387 2.76838C76.7684 3.6162 76.9832 4.56206 76.9832 5.60598C76.9832 6.64989 76.7684 7.59863 76.3387 8.45222C75.9148 9.3058 75.2586 9.98636 74.3702 10.4939C73.4817 10.9957 72.3436 11.2466 70.9558 11.2466H66.6355V9.34329H70.8861C71.8442 9.34329 72.6136 9.17892 73.1943 8.85017C73.775 8.52143 74.196 8.07733 74.4573 7.51789C74.7244 6.95268 74.8579 6.31537 74.8579 5.60598C74.8579 4.89658 74.7244 4.26216 74.4573 3.70271C74.196 3.14327 73.7721 2.70494 73.1856 2.38773C72.5991 2.06475 71.821 1.90326 70.8512 1.90326H67.0536V17.7176H64.8934Z" fill="#151515"/>
                <path d="M191.146 27.8438V25.5837H197.518V16.9952L206.256 15.0967V25.5837H219.454V27.8438H206.256V55.3269C206.316 59.8472 207.894 62.1675 210.989 62.2881C214.023 62.2278 216.207 59.5157 217.542 54.1516L220 54.6037C219.818 55.568 219.575 56.5022 219.272 57.4062C217.573 62.4689 214.144 65.0002 208.986 65.0002C208.501 65.0002 207.985 64.9701 207.439 64.9098C200.825 64.3071 197.518 60.0581 197.518 52.1627V27.8438H191.146Z" fill="#6D8E4D"/>
                <path d="M180.679 64.9102C176.127 64.8499 173.397 62.1378 172.487 56.7738C172.001 57.9791 171.303 59.1243 170.393 60.2091C167.602 63.3432 163.9 64.9102 159.288 64.9102C157.407 64.9102 155.678 64.6088 154.1 64.0061C149.913 62.3789 147.82 59.1544 147.82 54.3328C147.82 53.4288 147.911 52.5549 148.093 51.7111C149.61 45.3225 157.65 42.0377 172.213 41.8569V36.071C172.153 29.8632 169.665 26.699 164.75 26.5785C163.536 26.5785 162.504 26.7894 161.655 27.2113C160.502 27.8743 159.531 29.4112 158.742 31.822C158.56 32.4247 158.408 32.8767 158.287 33.178C157.559 35.167 156.254 36.1614 154.373 36.1614C153.888 36.1614 153.402 36.1011 152.917 35.9806C151.096 35.4382 150.186 34.2026 150.186 32.274C150.186 31.2494 150.52 30.2248 151.187 29.2002C153.433 25.9456 158.226 24.3184 165.569 24.3184C175.703 24.3786 180.83 29.0496 180.952 38.3311V57.3162C181.012 60.2694 181.771 61.8063 183.227 61.9268C185.108 61.8666 186.261 59.6968 186.686 55.4177L189.053 55.5081C188.992 56.8943 188.81 58.1298 188.506 59.2147C187.535 63.0117 184.926 64.9102 180.679 64.9102ZM163.02 61.2036C163.93 61.2036 164.871 60.9926 165.842 60.5708C169.058 59.1846 171.182 56.382 172.213 52.1631V44.2979C168.633 44.3581 165.721 44.6595 163.475 45.2019C159.106 46.2868 156.922 48.8784 156.922 52.9767C156.922 53.8205 156.982 54.604 157.104 55.3273C157.711 59.2448 159.683 61.2036 163.02 61.2036Z" fill="#6D8E4D"/>
                <path d="M140.629 61.7458C141.054 61.7458 141.418 61.7759 141.721 61.8362C142.51 61.9567 142.904 62.68 142.904 64.0059H121.332V61.7458C122.849 61.7458 124.033 61.6554 124.882 61.4746C126.824 60.9322 127.795 59.3049 127.795 56.5927V27.6631H121.332V25.403H136.533V61.7458H140.629ZM137.534 12.7463C137.534 13.6503 137.352 14.4941 136.988 15.2776C135.956 17.3268 134.227 18.3514 131.8 18.3514C130.95 18.3514 130.131 18.1706 129.342 17.809C127.218 16.8447 126.156 15.1571 126.156 12.7463C126.156 11.8422 126.369 10.9683 126.794 10.1246C127.825 8.07537 129.494 7.05078 131.8 7.05078C132.71 7.05078 133.59 7.26173 134.439 7.68362C136.503 8.76848 137.534 10.456 137.534 12.7463Z" fill="#6D8E4D"/>
                <path d="M75.2751 27.6634H68.9946L79.4621 57.0451L86.3798 35.8903L82.7389 25.4033H98.1216V27.6634H92.1141L102.127 56.9547L111.593 27.6634H105.494V25.4033H118.784C118.784 25.7649 118.753 26.0964 118.693 26.3978C118.511 27.2416 117.813 27.6634 116.599 27.6634C116.296 27.6634 115.992 27.6936 115.689 27.7538C114.718 27.9347 113.929 28.899 113.322 30.6468L102.127 64.4583H100.033C98.9408 64.4583 98.0609 64.3076 97.3934 64.0063C96.4225 63.4638 95.3302 61.4749 94.1166 58.0395L87.7451 39.7777L79.6441 64.4583H77.2776C76.3067 64.4583 75.5178 64.3377 74.911 64.0967C73.6367 63.5542 72.3624 61.5352 71.0881 58.0395L59.9834 27.6634H56.0695V25.4033H75.2751V27.6634Z" fill="#6D8E4D"/>
                <path d="M24.3029 64.0057H0V61.6552H7.28175V12.1132H0V9.7627H24.3029V12.1132H17.0211V36.161L43.5085 12.1132H36.2267V9.7627H52.7927C52.7927 10.064 52.7624 10.3654 52.7017 10.6667C52.5803 11.6311 51.8218 12.1132 50.4262 12.1132C49.88 12.1132 49.3339 12.1735 48.7878 12.294C47.7562 12.5954 45.9661 13.8611 43.4175 16.091L28.2168 30.1038L51.3364 61.6552H53.1568C53.4602 61.6552 53.7636 61.6853 54.067 61.7456C55.0379 61.9264 55.5234 62.6798 55.5234 64.0057H40.9599L21.1171 36.613L17.0211 40.3196V61.6552H21.9363C22.2397 61.6552 22.5431 61.6853 22.8465 61.7456C23.8174 61.9264 24.3029 62.6798 24.3029 64.0057Z" fill="#6D8E4D"/>
            </svg>

            <p><strong>Pani Kwiat - Joanna Lyszczyna</strong></p>
            <p>ul. Przykładowa 12,</p>
            <p>34-567 Miasto</p>
        </div>
        <div class="contact-wrapper">
            <h3>Potrzebujesz pomocy w doborze kwiatów? zadzwoń!</h3>
            <a href="tel:000 000 000" class="phone">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3 9C3 7.4087 3.63214 5.88258 4.75736 4.75736C5.88258 3.63214 7.4087 3 9 3H11.744C13.464 3 14.964 4.172 15.382 5.84L17.592 14.686C17.7711 15.402 17.7349 16.1549 17.488 16.8504C17.2411 17.546 16.7945 18.1532 16.204 18.596L13.618 20.536C13.348 20.738 13.29 21.034 13.366 21.24C14.4948 24.3097 16.2772 27.0974 18.5899 29.4101C20.9026 31.7228 23.6903 33.5052 26.76 34.634C26.966 34.71 27.26 34.652 27.464 34.382L29.404 31.796C29.8468 31.2055 30.454 30.7589 31.1496 30.512C31.8451 30.2651 32.598 30.2289 33.314 30.408L42.16 32.618C43.828 33.036 45 34.536 45 36.258V39C45 40.5913 44.3679 42.1174 43.2426 43.2426C42.1174 44.3679 40.5913 45 39 45H34.5C17.104 45 3 30.896 3 13.5V9Z" fill="white"/>
                </svg> 
                <span>
                    000 000 000
                </span>
            </a>
            <div class="wrapper-contact-links">
                <a href="">Skomponuj dekorację</a>
                <a href="">Gotowe od ręki </a>
                <a href="">Kim jestem?</a>
                <a href="">Poznaj opinie</a>
                <a href="">Kontakt</a>

            </div>
        </div>
    </div>
</div>

</footer>
<section class="copyright">
    <div class="container">
        <p>Copyright © Pani Kwiat - Realizacja strony internetowej: Manufaktura Programowania & Studio Projektowe Bonsai Design</p>
    </div>
</section>

<style lang="scss">

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap:10px;

        @media screen and (min-width:992px) {
            gap: 30px;
            grid-template-columns: 3fr 9fr;

        }

        p {
            margin-bottom: 0;
        }

    }

    .contact-wrapper {
        color:white;
        padding:20px;
        position: relative;
        * {
            position: relative;
            z-index: 2;
        }
        &:after {
            content:"";
            display: block;
            background:url("../../public/footer.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100vw;
            height: 100%;
            position: absolute;
            top: 0;
            left:0;
            z-index: 1;
        }
        @media screen and (min-width:992px) {
            padding:60px;
        }
        .phone {
            display: flex;
            align-items: center;
            gap:20px;
            font-size: 20px;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 20px;
            span {
                transition: .3s ease-in-out all;
                border-bottom: 3px solid transparent;
            }

            @media screen and (min-width:992px) {
                font-size: 40px;
                margin-bottom: 60px;
            }

            &:hover {
                svg {
                    transform: scale(1);
                    animation: pulse .8s infinite;
                }
                span {
                    border-color: white;
                }
            }
            @keyframes pulse {
                0% {
                    transform: scale(0.85);
                }

                70% {
                    transform: scale(1);
                }

                100% {
                    transform: scale(0.85);
                }
            }
        }
    }

    .wrapper-contact-links {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top:20px;
        border-top:1px solid rgba(255, 255, 255, 0.30);
        font-size: 14px;
        font-weight: 600;
        a {
            &:hover {
                text-decoration: underline;
            }
        }

        @media screen and (min-width:992px) {
            flex-wrap: wrap;
            flex-direction: row;
            gap: 30px;
        }
    }

    .info-wrapper{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;

            @media screen and (min-width:992px) {
        align-items: flex-start;

            }
        svg {
            margin-bottom: 20px;
        }
    }



    .copyright {
        padding: 20px 0;
        background: #F6F6F6;
        text-align: center;
        p {
            margin-bottom: 0;
        }
    }

</style>