<nav class="navbar">
  <!-- logo -->
  <div class="container">  
    <div class="navbar-wrapper">

          <a href="/" class="navbar-brand inline-block">
        <svg width="128" height="44" viewBox="0 0 128 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d_4_11)">
        <path d="M67.4986 0V9.67707H66.3268V0H67.4986Z" fill="black"/>
        <path d="M63.982 0V9.67707H62.8479L57.5747 2.07906H57.4802V9.67707H56.3083V0H57.4424L62.7345 7.61691H62.829V0H63.982Z" fill="black"/>
        <path d="M47.7133 9.67707H46.4847L50.038 0H51.2477L54.801 9.67707H53.5724L50.6807 1.53094H50.6051L47.7133 9.67707ZM48.1669 5.89696H53.1188V6.93649H48.1669V5.89696Z" fill="black"/>
        <path d="M39.8578 9.67707V0H43.1276C43.8868 0 44.5073 0.137029 44.9893 0.411086C45.4744 0.681994 45.8335 1.04898 46.0666 1.51204C46.2997 1.9751 46.4163 2.49172 46.4163 3.06189C46.4163 3.63205 46.2997 4.15024 46.0666 4.61645C45.8367 5.08267 45.4807 5.45438 44.9987 5.73158C44.5168 6.00564 43.8994 6.14267 43.1465 6.14267H40.8028V5.10314H43.1087C43.6284 5.10314 44.0458 5.01336 44.3608 4.83381C44.6758 4.65425 44.9042 4.4117 45.046 4.10614C45.1909 3.79743 45.2633 3.44935 45.2633 3.06189C45.2633 2.67442 45.1909 2.32792 45.046 2.02236C44.9042 1.7168 44.6743 1.47739 44.3561 1.30414C44.038 1.12773 43.6158 1.03953 43.0898 1.03953H41.0296V9.67707H39.8578Z" fill="black"/>
        <path d="M108.347 15.2074V13.9729H111.804V9.28205L116.544 8.24512V13.9729H123.704V15.2074H116.544V30.2182C116.577 32.687 117.433 33.9544 119.112 34.0202C120.758 33.9873 121.943 32.506 122.667 29.5762L124 29.8231C123.901 30.3498 123.77 30.8601 123.605 31.3538C122.683 34.119 120.823 35.5016 118.025 35.5016C117.762 35.5016 117.482 35.4851 117.186 35.4522C113.598 35.123 111.804 32.8023 111.804 28.4899V15.2074H108.347Z" fill="#6D8E4D"/>
        <path d="M102.669 35.4522C100.2 35.4193 98.7186 33.938 98.2248 31.0082C97.9615 31.6666 97.5829 32.292 97.0892 32.8846C95.5749 34.5963 93.5669 35.4522 91.0651 35.4522C90.0446 35.4522 89.1064 35.2876 88.2506 34.9584C85.9792 34.0696 84.8435 32.3085 84.8435 29.675C84.8435 29.1812 84.8929 28.7039 84.9916 28.2431C85.8146 24.7537 90.1763 22.9597 98.0767 22.8609V19.7007C98.0438 16.3101 96.6941 14.5819 94.0277 14.5161C93.3694 14.5161 92.8098 14.6313 92.3489 14.8617C91.7235 15.2238 91.1968 16.0633 90.7688 17.38C90.6701 17.7092 90.5878 17.9561 90.5219 18.1207C90.1269 19.207 89.4192 19.7501 88.3987 19.7501C88.1353 19.7501 87.872 19.7172 87.6087 19.6514C86.6211 19.3551 86.1273 18.6803 86.1273 17.6269C86.1273 17.0673 86.3084 16.5077 86.6705 15.948C87.8885 14.1704 90.489 13.2816 94.4721 13.2816C99.9695 13.3146 102.751 15.8657 102.817 20.9352V31.3045C102.85 32.9175 103.261 33.7569 104.051 33.8227C105.072 33.7898 105.697 32.6048 105.928 30.2675L107.212 30.3169C107.179 31.074 107.08 31.7489 106.915 32.3414C106.389 34.4153 104.973 35.4522 102.669 35.4522ZM93.0896 33.4277C93.5833 33.4277 94.0936 33.3125 94.6203 33.0821C96.365 32.3249 97.5171 30.7942 98.0767 28.49V24.1941C96.1345 24.227 94.5544 24.3916 93.3365 24.6879C90.9663 25.2804 89.7813 26.6959 89.7813 28.9344C89.7813 29.3952 89.8142 29.8231 89.88 30.2182C90.2092 32.3579 91.2791 33.4277 93.0896 33.4277Z" fill="#6D8E4D"/>
        <path d="M80.9427 33.724C81.1731 33.724 81.3706 33.7404 81.5352 33.7734C81.9631 33.8392 82.1771 34.2342 82.1771 34.9584H70.4746V33.724C71.2976 33.724 71.9395 33.6746 72.4003 33.5758C73.4537 33.2796 73.9804 32.3908 73.9804 30.9095V15.1086H70.4746V13.8742H78.7207V33.724H80.9427ZM79.2638 6.96131C79.2638 7.45509 79.1651 7.91595 78.9676 8.34389C78.4079 9.46311 77.4698 10.0227 76.153 10.0227C75.6922 10.0227 75.2478 9.92397 74.8198 9.72646C73.6677 9.19977 73.0916 8.27805 73.0916 6.96131C73.0916 6.46754 73.2068 5.99022 73.4373 5.52936C73.9969 4.41014 74.9021 3.85052 76.153 3.85052C76.6468 3.85052 77.1241 3.96574 77.585 4.19617C78.7042 4.7887 79.2638 5.71042 79.2638 6.96131Z" fill="#6D8E4D"/>
        <path d="M45.4896 15.1086H42.0825L47.761 31.1563L51.5137 19.602L49.5386 13.8742H57.8834V15.1086H54.6245L60.056 31.107L65.1913 15.1086H61.883V13.8742H69.0921C69.0921 14.0717 69.0756 14.2527 69.0427 14.4173C68.944 14.8782 68.5654 15.1086 67.907 15.1086C67.7424 15.1086 67.5779 15.1251 67.4133 15.158C66.8866 15.2567 66.4586 15.7834 66.1294 16.7381L60.056 35.2053H58.9203C58.3278 35.2053 57.8505 35.123 57.4884 34.9584C56.9617 34.6622 56.3691 33.5758 55.7108 31.6995L52.2543 21.7252L47.8597 35.2053H46.5759C46.0492 35.2053 45.6213 35.1395 45.2921 35.0078C44.6008 34.7115 43.9095 33.6088 43.2182 31.6995L37.1942 15.1086H35.0709V13.8742H45.4896V15.1086Z" fill="#6D8E4D"/>
        <path d="M17.8381 34.9584H4.6543V33.6746H8.60451V6.61567H4.6543V5.33185H17.8381V6.61567H13.8879V19.7501L28.2568 6.61567H24.3066V5.33185H33.2933C33.2933 5.49644 33.2769 5.66103 33.2439 5.82562C33.1781 6.35232 32.7666 6.61567 32.0095 6.61567C31.7132 6.61567 31.417 6.64858 31.1207 6.71442C30.5611 6.87901 29.59 7.5703 28.2074 8.78828L19.9614 16.4418L32.5033 33.6746H33.4908C33.6554 33.6746 33.82 33.6911 33.9846 33.724C34.5113 33.8227 34.7746 34.2342 34.7746 34.9584H26.8742L16.1099 19.997L13.8879 22.0215V33.6746H16.5543C16.7189 33.6746 16.8835 33.6911 17.0481 33.724C17.5748 33.8227 17.8381 34.2342 17.8381 34.9584Z" fill="#6D8E4D"/>
        </g>
        <defs>
        <filter id="filter0_d_4_11" x="0.654297" y="0" width="127.346" height="43.5016" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="4"/>
        <feGaussianBlur stdDeviation="2"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_4_11"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_4_11" result="shape"/>
        </filter>
        </defs>
        </svg>
    </a>
  <input id="nav-toggle" type="checkbox" class="hidden" />
    <label
        id="show-button"
        for="nav-toggle"
        class="order-2 mr-4 md:order-2 ml-auto flex cursor-pointer items-center text-dark lg:order-1 lg:hidden bg-white rounded w-11 h-11 flex-none text-center"
        >
        <svg class="h-5 fill-current mx-auto" viewBox="0 0 20 20">
            <title>Menu Open</title>
            <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
        </svg>
        </label>
    <label
    id="hide-button"
    for="nav-toggle"
    class="order-1 ml-auto hidden cursor-pointer items-center text-dark lg:order-1 bg-white rounded mr-4 w-11 h-11 flex-none"
    ><svg class="h-4 fill-current mx-auto" viewBox="0 0 20 20"
      ><title>Menu Close</title><polygon
        points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
        transform="rotate(45 10 10)"></polygon></svg
    >
    </label
  ><!-- /navbar toggler -->

  <ul
    id="nav-menu"
    class="navbar-nav"
  >

    <li class="nav-item">
      <a href="/" class="nav-link inline-block active">Skomponuj dekorację</a>
    </li>

    <li class="nav-item">
      <a href="/about" class="nav-link inline-block false">Gotowe od ręki</a>
    </li><li class="nav-item">
      <a href="/services" class="nav-link inline-block false">kim jestem?</a>
    </li><li class="nav-item">
      <a href="/team" class="nav-link inline-block false">poznaj opinie</a>
    </li>
    <li class="nav-item">
      <a href="/contact" class="nav-link inline-block false">Kontakt</a>
    </li>

  </ul>

  </div>
    </div>

</nav>


<style>
 nav {
    background-color: #FFFFFF;
 }

 .navbar-nav {
    display: flex;
 }

 .navbar-wrapper {
    display: flex;
    justify-content: space-between;
 }


.image-info-section .shape-7 {
    bottom: 100px;
    right: 20%
}

input#nav-toggle:checked~label#show-button {
    display: none
}

input#nav-toggle:checked~label#hide-button {
    display: flex
}

@media (min-width: 1024px) {
    input#nav-toggle:checked~label#hide-button {
        display:none
    }
}

input#nav-toggle:checked~.navbar-nav {
    visibility: visible
}

@media not all and (min-width: 1024px) {
    input#nav-toggle:checked~.navbar-nav {
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        opacity: 1
    }
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

@media (min-width: 1024px) {
    .navbar {
        position:relative
    }
}

.navbar-brand {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(68 68 68 / var(--tw-text-opacity))
}

.navbar-brand image {
    max-height: 100%;
    max-width: 100%
}

.navbar-nav {
    visibility: hidden;
    margin-top: 1.25rem;
    border-radius: .25rem;
    padding: 1.25rem;
    text-align: center;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
    border-radius: 6px
}

@media not all and (min-width: 1024px) {
    .navbar-nav {
        position:absolute;
        top: 4rem;
        left: 50%;
        --tw-translate-x: -50%;
        --tw-scale-x: .75;
        --tw-scale-y: .75;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        opacity: 0
    }
}

@media (min-width: 1024px) {
    .navbar-nav {
        visibility:visible;
        margin-top: 0;
        padding: 0;
        text-align: left
    }
}

.nav-item {
    padding-left: .5rem;
    padding-right: .5rem
}

@media (min-width: 1280px) {
    .nav-item {
        padding-left:.75rem;
        padding-right: .75rem
    }
}

@media (min-width: 1024px) {
    .nav-item:hover .nav-dropdown-list {
        visibility:visible;
        height: auto;
        overflow: auto;
        opacity: 1
    }

    .nav-item:hover .nav-dropdown-list:after {
        height: 100%
    }

    .nav-item:hover .nav-dropdown-list .nav-dropdown-item {
        visibility: visible;
        --tw-translate-y: 0px;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        opacity: 1
    }
}

.nav-link {
    display: block;
    cursor: pointer;
    padding: .5rem;
    font-family: ,;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(68 68 68 / var(--tw-text-opacity))
}

.nav-link:hover {
    --tw-text-opacity: 1;
    color: rgb(255 49 88 / var(--tw-text-opacity))
}

@media (min-width: 1024px) {
    .nav-link {
        padding:.75rem .5rem;
        font-size: .875rem;
        line-height: 1.25rem;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .2s
    }
}

@media (min-width: 1280px) {
    .nav-link {
        font-size:15px
    }
}

.nav-link.active {
    --tw-text-opacity: 1;
    color: rgb(255 49 88 / var(--tw-text-opacity))
}

.nav-dropdown {
    margin-right: 0
}

.nav-dropdown-list {
    margin-left: auto;
    margin-right: auto;
    display: none;
    width: 220px;
    border-radius: .375rem;
    background-color: #ff31581a;
    --tw-bg-opacity: .1;
    padding: .75rem .625rem;
    text-align: left
}

@media (min-width: 1024px) {
    .nav-dropdown-list {
        display:block;
        background-color: transparent
    }
}

.nav-dropdown-list.active {
    display: block
}

@media (min-width: 1024px) {
    .nav-dropdown-list {
        transition:.2s;
        visibility: hidden;
        position: absolute;
        left: 50%;
        z-index: 10;
        display: block;
        height: 0px;
        --tw-translate-x: -50%;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        overflow: hidden;
        border-radius: .375rem;
        background-color: transparent
    }

    .nav-dropdown-list:after {
        box-shadow: 0 10px 30px #161c2d1a;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 0px;
        width: 100%;
        border-radius: .375rem;
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
        --tw-content: "";
        content: var(--tw-content)
    }

    .nav-dropdown-list li {
        visibility: hidden;
        --tw-translate-y: -5px;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        opacity: 0
    }

    .nav-dropdown:hover .nav-dropdown-list {
        visibility: visible;
        height: auto;
        overflow: visible
    }

    .nav-dropdown:hover .nav-dropdown-list:after {
        height: 100%;
        transition: .3s ease-out
    }

    .nav-dropdown:hover .nav-dropdown-list li {
        visibility: visible;
        --tw-translate-y: 0px;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        opacity: 1;
        transition: .25s
    }

    .nav-dropdown:hover .nav-dropdown-list li:nth-child(1) {
        transition-delay: .06s
    }

    .nav-dropdown:hover .nav-dropdown-list li:nth-child(2) {
        transition-delay: .12s
    }

    .nav-dropdown:hover .nav-dropdown-list li:nth-child(3) {
        transition-delay: .18s
    }

    .nav-dropdown:hover .nav-dropdown-list li:nth-child(4) {
        transition-delay: .24s
    }

    .nav-dropdown:hover .nav-dropdown-list li:nth-child(5) {
        transition-delay: .3s
    }

    .nav-dropdown:hover .nav-dropdown-list li:nth-child(6) {
        transition-delay: .36s
    }

    .nav-dropdown:hover .nav-dropdown-list li:nth-child(7) {
        transition-delay: .42s
    }

    .nav-dropdown:hover .nav-dropdown-list li:nth-child(8) {
        transition-delay: .48s
    }

    .nav-dropdown:hover .nav-dropdown-list li:nth-child(9) {
        transition-delay: .54s
    }

    .nav-dropdown:hover .nav-dropdown-list li:nth-child(10) {
        transition-delay: .6s
    }

    .nav-dropdown:hover .nav-dropdown-list li:nth-child(11) {
        transition-delay: .66s
    }

    .nav-dropdown:hover .nav-dropdown-list li:nth-child(12) {
        transition-delay: .72s
    }

    .nav-dropdown:hover .nav-dropdown-list li:nth-child(13) {
        transition-delay: .78s
    }

    .nav-dropdown:hover .nav-dropdown-list li:nth-child(14) {
        transition-delay: .84s
    }

    .nav-dropdown:hover .nav-dropdown-list li:nth-child(15) {
        transition-delay: .9s
    }
}

.nav-dropdown-link {
    display: block;
    border-radius: .125rem;
    padding: .375rem .75rem;
    font-size: 15px;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(68 68 68 / var(--tw-text-opacity));
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    border-radius: 4px
}

.nav-dropdown-link:hover {
    background-color: #ff31581a;
    --tw-text-opacity: 1;
    color: rgb(255 49 88 / var(--tw-text-opacity))
}


</style>