---
import "swiper/css";
import "swiper/css/navigation";
---

<div class="container">
    <h2>Skomponuj idealną dekorację na dowolną okazję</h2>
</div>
<div class="container" data-astro-cid-ivdev4kk="">
    <div class="offer" data-astro-cid-ivdev4kk="">
        <div class="wrapper-container" data-astro-cid-ivdev4kk="">
            <div class="wrapper" data-astro-cid-ivdev4kk="">
                <h3 data-astro-cid-ivdev4kk=""><span data-astro-cid-ivdev4kk="">I</span>Dekoracje ślubne</h3>
                <p data-astro-cid-ivdev4kk="">
                    Wielkim wydarzeniem w naszym życiu jest uroczystość zaślubin. Niewątpliwie kwiaty są jej nieodzownym
                    atrybutem. Zachęcam do stworzenia niepowtarzalnej oprawy kwiatowej przygotowanej specjalnie dla
                    Państwa. Nie tylko pod względem doboru kolorów, ale również dostosowanej do charakteru, temperamentu
                    i urody Państwa Młodych. Dla Niej skomponowana wiązanka ślubna, dla Niego butonierka. Będzie ona
                    spójna z wystrojem sali, kościoła, samochodu i tortu. Dla druhen i dziewczynek wianki, małe wiązanki
                    i przypinki do włosów.
                </p>
            </div>
            <div class="wrapper-image" data-astro-cid-ivdev4kk="">
                <img
                    src="/slubne/dekoracje.jpg"
                    decoding="async"
                    loading="lazy"
                    alt=""
                    data-astro-cid-ivdev4kk=""
                    width="700"
                    height="700"
                />
            </div>
        </div>
        <div class="card-wrapper" data-astro-cid-ivdev4kk="">
            <div class="card" data-astro-cid-ivdev4kk="">
                <!-- swiper bukiety slubne  -->
                <div class="card-img-wrapper" data-astro-cid-ivdev4kk="">
                    <img
                        src="/slubne/bukiety.jpg"
                        decoding="async"
                        loading="lazy"
                        class="card-img"
                        alt=""
                        data-astro-cid-ivdev4kk=""
                        width="300"
                        height="300"
                    />
                    <div class="box box-bukietyslubne" data-astro-cid-ivdev4kk="">
                        <button class="btn-modal" onclick="window.bukietyslubne.showModal()" data-astro-cid-qmzm2soj="">
                            Zobacz zdjęcia
                        </button>
                        <dialog id="bukietyslubne" data-astro-cid-qmzm2soj="">
                            <article data-astro-cid-ivdev4kk="">
                                <div class="swiper swiper-horizontal" data-astro-cid-ivdev4kk="">
                                    <div class="swiper-wrapper" data-astro-cid-ivdev4kk="">
                                        <div
                                            data-lg-size="200-200"
                                            class="swiper-slide"
                                            data-astro-cid-ivdev4kk=""
                                            style="width: 1106px;"
                                        >
                                            <img
                                                src="/galeria/dekoracje-slubne/bukiety-slubne/1.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div
                                            data-lg-size="200-200"
                                            class="swiper-slide swiper-slide-prev"
                                            data-astro-cid-ivdev4kk=""
                                            style="width: 1106px;"
                                        >
                                            <img
                                                src="/galeria/dekoracje-slubne/bukiety-slubne/2.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div
                                            data-lg-size="200-200"
                                            class="swiper-slide swiper-slide-active"
                                            data-astro-cid-ivdev4kk=""
                                            style="width: 1106px;"
                                        >
                                            <img
                                                src="/galeria/dekoracje-slubne/bukiety-slubne/3.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div
                                            data-lg-size="200-200"
                                            class="swiper-slide swiper-slide-next"
                                            data-astro-cid-ivdev4kk=""
                                            style="width: 1106px;"
                                        >
                                            <img
                                                src="/galeria/dekoracje-slubne/bukiety-slubne/4.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div
                                            data-lg-size="200-200"
                                            class="swiper-slide"
                                            data-astro-cid-ivdev4kk=""
                                            style="width: 1106px;"
                                        >
                                            <img
                                                src="/galeria/dekoracje-slubne/bukiety-slubne/5.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div
                                            data-lg-size="200-200"
                                            class="swiper-slide"
                                            data-astro-cid-ivdev4kk=""
                                            style="width: 1106px;"
                                        >
                                            <img
                                                src="/galeria/dekoracje-slubne/bukiety-slubne/6.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div
                                            data-lg-size="200-200"
                                            class="swiper-slide"
                                            data-astro-cid-ivdev4kk=""
                                            style="width: 1106px;"
                                        >
                                            <img
                                                src="/galeria/dekoracje-slubne/bukiety-slubne/7.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div
                                            data-lg-size="200-200"
                                            class="swiper-slide"
                                            data-astro-cid-ivdev4kk=""
                                            style="width: 1106px;"
                                        >
                                            <img
                                                src="/galeria/dekoracje-slubne/bukiety-slubne/8.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div
                                            data-lg-size="200-200"
                                            class="swiper-slide"
                                            data-astro-cid-ivdev4kk=""
                                            style="width: 1106px;"
                                        >
                                            <img
                                                src="/galeria/dekoracje-slubne/bukiety-slubne/9.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div
                                            data-lg-size="200-200"
                                            class="swiper-slide"
                                            data-astro-cid-ivdev4kk=""
                                            style="width: 1106px;"
                                        >
                                            <img
                                                src="/galeria/dekoracje-slubne/bukiety-slubne/10.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div
                                            data-lg-size="200-200"
                                            class="swiper-slide"
                                            data-astro-cid-ivdev4kk=""
                                            style="width: 1106px;"
                                        >
                                            <img
                                                src="/galeria/dekoracje-slubne/bukiety-slubne/11.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div
                                            data-lg-size="200-200"
                                            class="swiper-slide"
                                            data-astro-cid-ivdev4kk=""
                                            style="width: 1106px;"
                                        >
                                            <img
                                                src="/galeria/dekoracje-slubne/bukiety-slubne/12.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div
                                            data-lg-size="200-200"
                                            class="swiper-slide"
                                            data-astro-cid-ivdev4kk=""
                                            style="width: 1106px;"
                                        >
                                            <img
                                                src="/galeria/dekoracje-slubne/bukiety-slubne/13.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div
                                            data-lg-size="200-200"
                                            class="swiper-slide"
                                            data-astro-cid-ivdev4kk=""
                                            style="width: 1106px;"
                                        >
                                            <img
                                                src="/galeria/dekoracje-slubne/bukiety-slubne/14.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div
                                            data-lg-size="200-200"
                                            class="swiper-slide"
                                            data-astro-cid-ivdev4kk=""
                                            style="width: 1106px;"
                                        >
                                            <img
                                                src="/galeria/dekoracje-slubne/bukiety-slubne/15.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                    </div>
                                    <!-- If we need navigation buttons -->
                                    <div class="swiper-button-prev" data-astro-cid-ivdev4kk=""></div>
                                    <div class="swiper-button-next" data-astro-cid-ivdev4kk=""></div>
                                </div>
                            </article>
                            <form method="dialog" data-astro-cid-qmzm2soj="">
                                <button class="close-button" data-astro-cid-ivdev4kk="">X</button>
                            </form>
                        </dialog>
                    </div>
                </div>
                <h3 data-astro-cid-ivdev4kk="">Bukiety ślubne</h3>
                <!-- koniec swiper -->
            </div>
            <div class="card" data-astro-cid-ivdev4kk="">
                <div class="card-img-wrapper" data-astro-cid-ivdev4kk="">
                    <img
                        src="/slubne/wystroj.jpg"
                        decoding="async"
                        loading="lazy"
                        class="card-img"
                        alt=""
                        data-astro-cid-ivdev4kk=""
                        width="300"
                        height="300"
                    />
                    <div class="box box-wystroj" data-astro-cid-ivdev4kk="">
                        <button class="btn-modal" onclick="window.wystroj.showModal()" data-astro-cid-qmzm2soj="">
                            Zobacz zdjęcia
                        </button>
                        <dialog id="wystroj" data-astro-cid-qmzm2soj="">
                            <article data-astro-cid-ivdev4kk="">
                                <div class="swiper swiper-horizontal" data-astro-cid-ivdev4kk="">
                                    <div class="swiper-wrapper" data-astro-cid-ivdev4kk="">
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/dekoracje-slubne/wystroj-sal/1.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/dekoracje-slubne/wystroj-sal/2.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/dekoracje-slubne/wystroj-sal/3.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/dekoracje-slubne/wystroj-sal/4.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/dekoracje-slubne/wystroj-sal/5.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/dekoracje-slubne/wystroj-sal/6.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/dekoracje-slubne/wystroj-sal/7.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/dekoracje-slubne/wystroj-sal/8.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/dekoracje-slubne/wystroj-sal/9.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/dekoracje-slubne/wystroj-sal/10.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/dekoracje-slubne/wystroj-sal/11.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/dekoracje-slubne/wystroj-sal/12.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/dekoracje-slubne/wystroj-sal/13.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/dekoracje-slubne/wystroj-sal/14.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/dekoracje-slubne/wystroj-sal/15.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                    </div>
                                    <!-- If we need navigation buttons -->
                                    <div class="swiper-button-prev" data-astro-cid-ivdev4kk=""></div>
                                    <div class="swiper-button-next" data-astro-cid-ivdev4kk=""></div>
                                </div>
                            </article>
                            <form method="dialog" data-astro-cid-qmzm2soj="">
                                <button class="close-button" data-astro-cid-ivdev4kk="">X</button>
                            </form>
                        </dialog>
                    </div>
                </div>
                <h3 data-astro-cid-ivdev4kk="">Wystrój sal i kościołów</h3>
            </div>
            <div class="card" data-astro-cid-ivdev4kk="">
                <div class="card-img-wrapper" data-astro-cid-ivdev4kk="">
                    <img
                        src="/slubne/wianki.jpg"
                        decoding="async"
                        loading="lazy"
                        class="card-img"
                        alt=""
                        data-astro-cid-ivdev4kk=""
                        width="300"
                        height="300"
                    />
                    <div class="box box-wianki" data-astro-cid-ivdev4kk="">
                        <button class="btn-modal" onclick="window.wianki.showModal()" data-astro-cid-qmzm2soj="">
                            Zobacz zdjęcia
                        </button>
                        <dialog id="wianki" data-astro-cid-qmzm2soj="">
                            <article data-astro-cid-ivdev4kk="">
                                <div class="swiper swiper-horizontal" data-astro-cid-ivdev4kk="">
                                    <div class="swiper-wrapper" data-astro-cid-ivdev4kk="">
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/dekoracje-slubne/wianki-z-zywych-kwiatow/1.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/dekoracje-slubne/wianki-z-zywych-kwiatow/2.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/dekoracje-slubne/wianki-z-zywych-kwiatow/3.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                    </div>
                                    <!-- If we need navigation buttons -->
                                    <div class="swiper-button-prev" data-astro-cid-ivdev4kk=""></div>
                                    <div class="swiper-button-next" data-astro-cid-ivdev4kk=""></div>
                                </div>
                            </article>
                            <form method="dialog" data-astro-cid-qmzm2soj="">
                                <button class="close-button" data-astro-cid-ivdev4kk="">X</button>
                            </form>
                        </dialog>
                    </div>
                </div>
                <h3 data-astro-cid-ivdev4kk="">Wianki i tiary z żywych kwiatów</h3>
            </div>
            <div class="card" data-astro-cid-ivdev4kk="">
                <div class="card-img-wrapper" data-astro-cid-ivdev4kk="">
                    <img
                        src="/slubne/wianki-dla-zwierzat.jpg"
                        decoding="async"
                        loading="lazy"
                        class="card-img"
                        alt=""
                        data-astro-cid-ivdev4kk=""
                        width="300"
                        height="300"
                    />
                    <div class="box box-wiankidlazwierzat" data-astro-cid-ivdev4kk="">
                        <button
                            class="btn-modal"
                            onclick="window.wiankidlazwierzat.showModal()"
                            data-astro-cid-qmzm2soj=""
                        >
                            Zobacz zdjęcia
                        </button>
                        <dialog id="wiankidlazwierzat" data-astro-cid-qmzm2soj="">
                            <article data-astro-cid-ivdev4kk="">
                                <div class="swiper swiper-horizontal" data-astro-cid-ivdev4kk="">
                                    <div class="swiper-wrapper" data-astro-cid-ivdev4kk="">
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/dekoracje-slubne/ozdoby-wianki-dla-zwierzat/1.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/dekoracje-slubne/ozdoby-wianki-dla-zwierzat/2.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                    </div>
                                    <!-- If we need navigation buttons -->
                                    <div class="swiper-button-prev" data-astro-cid-ivdev4kk=""></div>
                                    <div class="swiper-button-next" data-astro-cid-ivdev4kk=""></div>
                                </div>
                            </article>
                            <form method="dialog" data-astro-cid-qmzm2soj="">
                                <button class="close-button" data-astro-cid-ivdev4kk="">X</button>
                            </form>
                        </dialog>
                    </div>
                </div>
                <h3 data-astro-cid-ivdev4kk="">Ozdobne wianki dla ukochanych zwierząt</h3>
            </div>
        </div>
    </div>
    <div class="offer" data-astro-cid-ivdev4kk="">
        <div class="wrapper-container" data-astro-cid-ivdev4kk="">
            <div class="wrapper" data-astro-cid-ivdev4kk="">
                <h3 data-astro-cid-ivdev4kk=""><span data-astro-cid-ivdev4kk="">II</span>Ringi, wieńce, serca</h3>
                <p data-astro-cid-ivdev4kk="">
                    Wianki na każda okazję, urodziny, ozdobny wianek na drzwi, lub jako dekoracje stołu ze świecą.
                    Zrobimy je dla Ciebie z żywych, suchych i sztucznych kwiatów. Będzie on przepiękną ozdobą w
                    witrynach sklepowych. Możemy położyć go na trumnie w ostatnim pożegnaniu.
                </p>
                <p data-astro-cid-ivdev4kk="">Cena od 250 zł. w zależności od wielkości i użytych kwiatów.</p>
            </div>
            <div class="wrapper-image" data-astro-cid-ivdev4kk="">
                <div class="card" data-astro-cid-ivdev4kk="">
                    <div class="card-img-wrapper" data-astro-cid-ivdev4kk="">
                        <img
                            src="/ringi/ringi-wience-serca.jpg"
                            decoding="async"
                            loading="lazy"
                            alt=""
                            data-astro-cid-ivdev4kk=""
                            width="700"
                            height="700"
                        />
                        <div class="box box-ringi" data-astro-cid-ivdev4kk="">
                            <button class="btn-modal" onclick="window.ringi.showModal()" data-astro-cid-qmzm2soj="">
                                Zobacz zdjęcia
                            </button>
                            <dialog id="ringi" data-astro-cid-qmzm2soj="">
                                <article data-astro-cid-ivdev4kk="">
                                    <div class="swiper swiper-horizontal" data-astro-cid-ivdev4kk="">
                                        <div class="swiper-wrapper" data-astro-cid-ivdev4kk="">
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img src="/galeria/ringi/1.jpg" alt="" data-astro-cid-ivdev4kk="" />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img src="/galeria/ringi/2.jpg" alt="" data-astro-cid-ivdev4kk="" />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img src="/galeria/ringi/3.jpg" alt="" data-astro-cid-ivdev4kk="" />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img src="/galeria/ringi/4.jpg" alt="" data-astro-cid-ivdev4kk="" />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img src="/galeria/ringi/5.jpg" alt="" data-astro-cid-ivdev4kk="" />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img src="/galeria/ringi/6.jpg" alt="" data-astro-cid-ivdev4kk="" />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img src="/galeria/ringi/7.jpg" alt="" data-astro-cid-ivdev4kk="" />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img src="/galeria/ringi/8.jpg" alt="" data-astro-cid-ivdev4kk="" />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img src="/galeria/ringi/9.jpg" alt="" data-astro-cid-ivdev4kk="" />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img src="/galeria/ringi/10.jpg" alt="" data-astro-cid-ivdev4kk="" />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img src="/galeria/ringi/11.jpg" alt="" data-astro-cid-ivdev4kk="" />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img src="/galeria/ringi/12.jpg" alt="" data-astro-cid-ivdev4kk="" />
                                            </div>
                                        </div>
                                        <!-- If we need navigation buttons -->
                                        <div class="swiper-button-prev" data-astro-cid-ivdev4kk=""></div>
                                        <div class="swiper-button-next" data-astro-cid-ivdev4kk=""></div>
                                    </div>
                                </article>
                                <form method="dialog" data-astro-cid-qmzm2soj="">
                                    <button class="close-button" data-astro-cid-ivdev4kk="">X</button>
                                </form>
                            </dialog>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offer" data-astro-cid-ivdev4kk="">
        <div class="wrapper-container" data-astro-cid-ivdev4kk="">
            <div class="wrapper" data-astro-cid-ivdev4kk="">
                <h3 data-astro-cid-ivdev4kk=""><span data-astro-cid-ivdev4kk="">III</span>Wiązanki pogrzebowe</h3>
                <p data-astro-cid-ivdev4kk="">
                    Każdy z nas na swojej życiowej drodze staje przed trumną osoby, która odeszła z tego świata. W
                    hołdzie i pamięci naszym Ukochanym mamy ofertę, w której można stworzyć lub wybrać z bogatej
                    kolekcji kompozycje, które będą odzwierciedleniem lub uhonorowaniem życia osoby zmarłej.
                </p>
                <p data-astro-cid-ivdev4kk="">
                    Zrobione z żywych lub sztucznych kwiatów, w zależności od życzeń klienta i pory roku. Cena w
                    zależności od rodzaju i wielkości kompozycji aranżacje na trumnę od 500 zł.
                </p>
            </div>
            <div class="wrapper-image" data-astro-cid-ivdev4kk="">
                <img
                    src="/wiazki/wiazki.jpg"
                    decoding="async"
                    loading="lazy"
                    alt=""
                    data-astro-cid-ivdev4kk=""
                    width="700"
                    height="700"
                />
            </div>
        </div>
        <div class="card-wrapper-3-elems" data-astro-cid-ivdev4kk="">
            <div class="card" data-astro-cid-ivdev4kk="">
                <div class="card-img-wrapper" data-astro-cid-ivdev4kk="">
                    <img
                        src="/wiazki/wience.jpg"
                        decoding="async"
                        loading="lazy"
                        class="card-img"
                        alt=""
                        data-astro-cid-ivdev4kk=""
                        width="500"
                        height="300"
                    />
                    <div class="box box-wience1" data-astro-cid-ivdev4kk="">
                        <button class="btn-modal" onclick="window.wience1.showModal()" data-astro-cid-qmzm2soj="">
                            Zobacz zdjęcia
                        </button>
                        <dialog id="wience1" data-astro-cid-qmzm2soj="">
                            <article data-astro-cid-ivdev4kk="">
                                <div class="swiper swiper-horizontal" data-astro-cid-ivdev4kk="">
                                    <div class="swiper-wrapper" data-astro-cid-ivdev4kk="">
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/wiazanki-pogrzebowe/wiazanki-pogrzebowe/1.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/wiazanki-pogrzebowe/wiazanki-pogrzebowe/2.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/wiazanki-pogrzebowe/wiazanki-pogrzebowe/3.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/wiazanki-pogrzebowe/wiazanki-pogrzebowe/4.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/wiazanki-pogrzebowe/wiazanki-pogrzebowe/5.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/wiazanki-pogrzebowe/wiazanki-pogrzebowe/6.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/wiazanki-pogrzebowe/wiazanki-pogrzebowe/7.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/wiazanki-pogrzebowe/wiazanki-pogrzebowe/8.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                    </div>
                                    <!-- If we need navigation buttons -->
                                    <div class="swiper-button-prev" data-astro-cid-ivdev4kk=""></div>
                                    <div class="swiper-button-next" data-astro-cid-ivdev4kk=""></div>
                                </div>
                            </article>
                            <form method="dialog" data-astro-cid-qmzm2soj="">
                                <button class="close-button" data-astro-cid-ivdev4kk="">X</button>
                            </form>
                        </dialog>
                    </div>
                </div>
                <h3 data-astro-cid-ivdev4kk="">Wiązanki pogrzebowe</h3>
            </div>
            <div class="card" data-astro-cid-ivdev4kk="">
                <div class="card-img-wrapper" data-astro-cid-ivdev4kk="">
                    <img
                        src="/wiazki/serca-lub-krzyze.jpg"
                        decoding="async"
                        loading="lazy"
                        class="card-img"
                        alt=""
                        data-astro-cid-ivdev4kk=""
                        width="500"
                        height="300"
                    />
                    <div class="box box-sercalubkrzyze" data-astro-cid-ivdev4kk="">
                        <button
                            class="btn-modal"
                            onclick="window.sercalubkrzyze.showModal()"
                            data-astro-cid-qmzm2soj=""
                        >
                            Zobacz zdjęcia
                        </button>
                        <dialog id="sercalubkrzyze" data-astro-cid-qmzm2soj="">
                            <article data-astro-cid-ivdev4kk="">
                                <div class="swiper swiper-horizontal" data-astro-cid-ivdev4kk="">
                                    <div class="swiper-wrapper" data-astro-cid-ivdev4kk="">
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/wiazanki-pogrzebowe/serca-kwiatowe/1.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/wiazanki-pogrzebowe/serca-kwiatowe/2.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                    </div>
                                    <!-- If we need navigation buttons -->
                                    <div class="swiper-button-prev" data-astro-cid-ivdev4kk=""></div>
                                    <div class="swiper-button-next" data-astro-cid-ivdev4kk=""></div>
                                </div>
                            </article>
                            <form method="dialog" data-astro-cid-qmzm2soj="">
                                <button class="close-button" data-astro-cid-ivdev4kk="">X</button>
                            </form>
                        </dialog>
                    </div>
                </div>
                <h3 data-astro-cid-ivdev4kk="">Serca kwiatowe</h3>
            </div>
            <div class="card" data-astro-cid-ivdev4kk="">
                <div class="card-img-wrapper" data-astro-cid-ivdev4kk="">
                    <img
                        src="/wiazki/aranzacje.jpg"
                        decoding="async"
                        loading="lazy"
                        class="card-img"
                        alt=""
                        data-astro-cid-ivdev4kk=""
                        width="500"
                        height="300"
                    />
                    <div class="box box-aranzacjenatrumne" data-astro-cid-ivdev4kk="">
                        <button
                            class="btn-modal"
                            onclick="window.aranzacjenatrumne.showModal()"
                            data-astro-cid-qmzm2soj=""
                        >
                            Zobacz zdjęcia
                        </button>
                        <dialog id="aranzacjenatrumne" data-astro-cid-qmzm2soj="">
                            <article data-astro-cid-ivdev4kk="">
                                <div class="swiper swiper-horizontal" data-astro-cid-ivdev4kk="">
                                    <div class="swiper-wrapper" data-astro-cid-ivdev4kk="">
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/wiazanki-pogrzebowe/aranzacje-na-trumne/1.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                        <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                            <img
                                                src="/galeria/wiazanki-pogrzebowe/aranzacje-na-trumne/2.jpg"
                                                alt=""
                                                data-astro-cid-ivdev4kk=""
                                            />
                                        </div>
                                    </div>
                                    <!-- If we need navigation buttons -->
                                    <div class="swiper-button-prev" data-astro-cid-ivdev4kk=""></div>
                                    <div class="swiper-button-next" data-astro-cid-ivdev4kk=""></div>
                                </div>
                            </article>
                            <form method="dialog" data-astro-cid-qmzm2soj="">
                                <button class="close-button" data-astro-cid-ivdev4kk="">X</button>
                            </form>
                        </dialog>
                    </div>
                </div>
                <h3 data-astro-cid-ivdev4kk="">Aranżacje na trumnę</h3>
            </div>
        </div>
    </div>
    <div class="offer" data-astro-cid-ivdev4kk="">
        <div class="wrapper-container" data-astro-cid-ivdev4kk="">
            <div class="wrapper" data-astro-cid-ivdev4kk="">
                <h3 data-astro-cid-ivdev4kk=""><span data-astro-cid-ivdev4kk="">IV</span>Pozostałe dekoracje</h3>
                <p data-astro-cid-ivdev4kk="">
                    Zapraszamy do zapoznania się z naszą ofertą, która obejmuje resztę produktów. W niej pudełka
                    kwiatowe na każda okazję, w każdej wielkości i kolorystyce, na ceremonie chrztu, w rocznice urodzin,
                    na imieniny, czy z gratulacjami. Mamy również bukiety na każdą okazję z żywych i suchych kwiatów.
                    Proponujemy aranżacje w wazach i innych ozdobnych pojemnikach. Mogą to być małe wiązanki lub tez
                    ogromne bukiety sceniczne, kościelne, na eventy, promocje w salonach samochodowych i w salach
                    konferencyjnych. Mamy również kosze upominkowe.
                </p>
                <ul data-astro-cid-ivdev4kk="">
                    <li data-astro-cid-ivdev4kk="">Bukiety ślubne</li>
                    <li data-astro-cid-ivdev4kk="">Pudełka kwiatowe, walizki itp.</li>
                    <li data-astro-cid-ivdev4kk="">Wazy, wazoniki i inne pojemniki</li>
                    <li data-astro-cid-ivdev4kk="">Dekoracje sal, salonów samochodowych</li>
                    <li data-astro-cid-ivdev4kk="">Dekoracje promocyjne w salonach samochodowych</li>
                    <li data-astro-cid-ivdev4kk="">Kancelarie prawne</li>
                    <li data-astro-cid-ivdev4kk="">Restauracje</li>
                </ul>
            </div>
            <div class="wrapper-image" data-astro-cid-ivdev4kk="">
                <div class="card" data-astro-cid-ivdev4kk="">
                    <div class="card-img-wrapper" data-astro-cid-ivdev4kk="">
                        <img
                            src="/pozostale.jpg"
                            decoding="async"
                            loading="lazy"
                            alt=""
                            data-astro-cid-ivdev4kk=""
                            width="700"
                            height="500"
                        />
                        <div class="box box-pozostale" data-astro-cid-ivdev4kk="">
                            <button class="btn-modal" onclick="window.pozostale.showModal()" data-astro-cid-qmzm2soj="">
                                Zobacz zdjęcia
                            </button>
                            <dialog id="pozostale" data-astro-cid-qmzm2soj="">
                                <article data-astro-cid-ivdev4kk="">
                                    <div class="swiper swiper-horizontal" data-astro-cid-ivdev4kk="">
                                        <div class="swiper-wrapper" data-astro-cid-ivdev4kk="">
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/pozostale-dekoracje/1.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/pozostale-dekoracje/2.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/pozostale-dekoracje/3.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/pozostale-dekoracje/4.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/pozostale-dekoracje/5.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/pozostale-dekoracje/6.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/pozostale-dekoracje/7.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/pozostale-dekoracje/8.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/pozostale-dekoracje/9.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/pozostale-dekoracje/10.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/pozostale-dekoracje/11.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/pozostale-dekoracje/12.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                        </div>
                                        <!-- If we need navigation buttons -->
                                        <div class="swiper-button-prev" data-astro-cid-ivdev4kk=""></div>
                                        <div class="swiper-button-next" data-astro-cid-ivdev4kk=""></div>
                                    </div>
                                </article>
                                <form method="dialog" data-astro-cid-qmzm2soj="">
                                    <button class="close-button" data-astro-cid-ivdev4kk="">X</button>
                                </form>
                            </dialog>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offer" data-astro-cid-ivdev4kk="">
        <div class="wrapper-container" data-astro-cid-ivdev4kk="">
            <div class="wrapper" data-astro-cid-ivdev4kk="">
                <h3 data-astro-cid-ivdev4kk="">
                    <span data-astro-cid-ivdev4kk="">V</span> Święta Wielkanocne i wiosna
                </h3>
                <p data-astro-cid-ivdev4kk="">
                    Wielkanoc już za chwilę, a z nią wiosna i słońce, które zawitają do naszego życie ponownie. Przyroda
                    powoli budzi się z zimowego uśpienia. Pierwsze pąki na drzewach i krzewach. Wiosenne krokusy i
                    żonkile wychylają nieśmiało z ziemi swe pąki. Ptaki śpiewają radośnie i budują gniazda.
                </p>
                <p data-astro-cid-ivdev4kk="">
                    Zabierzmy tę radosną chwilę przebudzenia do naszych domów. Zapraszam Państwa do zakupu wiosennych
                    wianków i bukietów. Świątecznych aranżacji na stoły i groby z żywych i sztucznych kwiatów.
                </p>
            </div>
            <div class="wrapper-image" data-astro-cid-ivdev4kk="">
                <div class="card" data-astro-cid-ivdev4kk="">
                    <div class="card-img-wrapper" data-astro-cid-ivdev4kk="">
                        <img
                            src="/galeria/swieta-wielkanocne/1.jpg"
                            decoding="async"
                            loading="lazy"
                            alt=""
                            data-astro-cid-ivdev4kk=""
                            width="700"
                            height="700"
                        />
                        <div class="box box-wielkanoc" data-astro-cid-ivdev4kk="">
                            <button class="btn-modal" onclick="window.wielkanoc.showModal()" data-astro-cid-qmzm2soj="">
                                Zobacz zdjęcia
                            </button>
                            <dialog id="wielkanoc" data-astro-cid-qmzm2soj="">
                                <article data-astro-cid-ivdev4kk="">
                                    <div class="swiper swiper-horizontal" data-astro-cid-ivdev4kk="">
                                        <div class="swiper-wrapper" data-astro-cid-ivdev4kk="">
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/swieta-wielkanocne/1.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/swieta-wielkanocne/2.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/swieta-wielkanocne/3.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/swieta-wielkanocne/4.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/swieta-wielkanocne/5.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/swieta-wielkanocne/6.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/swieta-wielkanocne/7.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/swieta-wielkanocne/8.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/swieta-wielkanocne/9.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                            <div data-lg-size="200-200" class="swiper-slide" data-astro-cid-ivdev4kk="">
                                                <img
                                                    src="/galeria/swieta-wielkanocne/10.jpg"
                                                    alt=""
                                                    data-astro-cid-ivdev4kk=""
                                                />
                                            </div>
                                        </div>
                                        <!-- If we need navigation buttons -->
                                        <div class="swiper-button-prev" data-astro-cid-ivdev4kk=""></div>
                                        <div class="swiper-button-next" data-astro-cid-ivdev4kk=""></div>
                                    </div>
                                </article>
                                <form method="dialog" data-astro-cid-qmzm2soj="">
                                    <button class="close-button" data-astro-cid-ivdev4kk="">X</button>
                                </form>
                            </dialog>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-wrapper" data-astro-cid-ivdev4kk="">
        <button class="btn btn-white" onclick="window.kontaktowy2.showModal()" data-astro-cid-fziqq5va="">
            Skontaktuj się ze mną
        </button>
        <dialog id="kontaktowy2" data-astro-cid-fziqq5va="">
            <div data-astro-cid-ivdev4kk="">
                <div class="wrapper-form" data-astro-cid-ivdev4kk="">
                    <div class="phone-wrapper" data-astro-cid-ivdev4kk="">
                        <h3 data-astro-cid-ivdev4kk="">
                            Skontaktuj się ze mną<br data-astro-cid-ivdev4kk="" />
                            telefonicznie
                        </h3>
                        <hr data-astro-cid-ivdev4kk="" />
                        <a href="tel:+48501744994" class="phone" data-astro-cid-ivdev4kk="">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="42"
                                height="42"
                                viewBox="0 0 42 42"
                                fill="white"
                                data-astro-cid-ivdev4kk=""
                            >
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M0 6C0 4.4087 0.632141 2.88258 1.75736 1.75736C2.88258 0.632141 4.4087 0 6 0H8.744C10.464 0 11.964 1.172 12.382 2.84L14.592 11.686C14.7711 12.402 14.7349 13.1549 14.488 13.8504C14.2411 14.546 13.7945 15.1532 13.204 15.596L10.618 17.536C10.348 17.738 10.29 18.034 10.366 18.24C11.4948 21.3097 13.2772 24.0974 15.5899 26.4101C17.9026 28.7228 20.6903 30.5052 23.76 31.634C23.966 31.71 24.26 31.652 24.464 31.382L26.404 28.796C26.8468 28.2055 27.454 27.7589 28.1496 27.512C28.8451 27.2651 29.598 27.2289 30.314 27.408L39.16 29.618C40.828 30.036 42 31.536 42 33.258V36C42 37.5913 41.3679 39.1174 40.2426 40.2426C39.1174 41.3679 37.5913 42 36 42H31.5C14.104 42 0 27.896 0 10.5V6Z"
                                    fill="#FFF"
                                    data-astro-cid-ivdev4kk=""
                                >
                                </path>
                            </svg>
                            <span data-astro-cid-ivdev4kk="">501 744 994</span>
                        </a>
                    </div>
                    <div class="form-wrapper" data-astro-cid-ivdev4kk="">
                        <h3 data-astro-cid-ivdev4kk="">Lub przez formularz kontaktowy</h3>
                        <form
                            target="_blank"
                            action="https://formsubmit.co/panikwiat@gmail.com"
                            method="POST"
                            data-astro-reload=""
                            data-astro-cid-ivdev4kk=""
                        >
                            <div class="form-group" data-astro-cid-ivdev4kk="">
                                <div class="form-row" data-astro-cid-ivdev4kk="">
                                    <div class="col" data-astro-cid-ivdev4kk="">
                                        <label data-astro-cid-ivdev4kk="">Wprowadź imię: *</label>
                                        <input
                                            type="text"
                                            name="name"
                                            class="form-control"
                                            placeholder="Wprowadź imię..."
                                            required=""
                                            data-astro-cid-ivdev4kk=""
                                        />
                                    </div>
                                    <div class="col" data-astro-cid-ivdev4kk="">
                                        <label data-astro-cid-ivdev4kk="">Wprowadź numer telefonu: *</label>
                                        <input
                                            type="text"
                                            name="name"
                                            class="form-control"
                                            placeholder="Wprowadź numer telefonu..."
                                            required=""
                                            data-astro-cid-ivdev4kk=""
                                        />
                                    </div>
                                    <div class="col" data-astro-cid-ivdev4kk="">
                                        <label data-astro-cid-ivdev4kk="">Wprowadź adres e-mail: *</label>
                                        <input
                                            type="email"
                                            name="email"
                                            class="form-control"
                                            placeholder="Wprowadź adres e-mail..."
                                            required=""
                                            data-astro-cid-ivdev4kk=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" data-astro-cid-ivdev4kk="">
                                <label data-astro-cid-ivdev4kk="">Wiadomość: *</label>
                                <textarea
                                    placeholder="Napisz wiadomość..."
                                    class="form-control"
                                    name="Wiadomość: *"
                                    rows="6"
                                    required=""
                                    data-astro-cid-ivdev4kk=""
                                >
                                </textarea>
                            </div>
                            <input type="text" name="_honey" style="display:none" data-astro-cid-ivdev4kk="" />
                            <input type="hidden" name="_next" value="https://panikwiat.pl" data-astro-cid-ivdev4kk="" />
                            <input type="hidden" name="_captcha" value="false" data-astro-cid-ivdev4kk="" />
                            <div class="btn-form-wrapper" data-astro-cid-ivdev4kk="">
                                <div data-astro-cid-ivdev4kk="">
                                    <input
                                        type="checkbox"
                                        id="rodo"
                                        name="rodo"
                                        value="Boat"
                                        data-astro-cid-ivdev4kk=""
                                    />
                                    <label for="rodo" data-astro-cid-ivdev4kk="">
                                        Wyrażam zgodę na przetwarzanie moich danych osobowych w celu realizacji tego
                                        zapytania.*
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary" data-astro-cid-ivdev4kk="">
                                    Wyślij wiadomość
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <form method="dialog" data-astro-cid-fziqq5va="">
                <button class="close-button-form" data-astro-cid-ivdev4kk="">X</button>
            </form>
        </dialog>
    </div>
</div>

<script is:inline type="module">
    import Swiper, { Navigation } from "swiper";

    console.log("Swiper loaded", Swiper);
    function initSwiperIn(dialog) {
        console.log("Swiper loaded", Swiper);

        const root = dialog.querySelector(".swiper");
        if (!root) return;
        if (root._swiper) {
            root._swiper.update();
            return;
        }

        root._swiper = new Swiper(root, {
            modules: [Navigation],
            loop: true,
            slidesPerView: 1,
            navigation: {
                nextEl: dialog.querySelector(".swiper-button-next"),
                prevEl: dialog.querySelector(".swiper-button-prev"),
            },
        });
    }

    document.querySelectorAll(".btn-modal").forEach((btn) => {
        btn.addEventListener("click", () => {
            const id = btn.getAttribute("data-modal");
            const dialog = document.getElementById(id);
            if (!dialog) return;

            if (typeof dialog.showModal === "function") dialog.showModal();
            else dialog.setAttribute("open", "");

            requestAnimationFrame(() => initSwiperIn(dialog));
        });
    });

    document.querySelectorAll("dialog").forEach((d) => {
        d.addEventListener("click", (e) => {
            const r = d.getBoundingClientRect();
            const out = e.clientX < r.left || e.clientX > r.right || e.clientY < r.top || e.clientY > r.bottom;
            if (out) d.close?.();
        });
    });
</script>
