<section>
    <div class="container">
        <h2>Skomponuj idealną dekorację  <span>na dowolną okazję</span></h2>
        <div class="wrapper-left">
            <div class="wrapper-image">
                <img src="../../public/slubne.jpg" alt="">
            </div>
            <div class="wrapper">
                <h3>Dekoracje ślubne</h3>
                <p>Wielkim wydarzeniem w naszym życiu jest uroczystość zaślubin. Niewątpliwie kwiaty są jej
                    nieodzownym atrybutem. Zachęcam do stworzenia niepowtarzalnej oprawy kwiatowej
                    przygotowanej specjalnie dla Państwa. Nie tylko pod względem doboru kolorów, ale również
                    dostosowanej do charakteru, temperamentu i urody Państwa Młodych. Dla Niej skomponowana
                    wiązanka ślubna, dla Niego butonierka. Będzie ona spójna z wystrojem sali, kościoła, samochodu
                    i toru. Dla druhen i dziewczynek wianki, małe wiązanki i przypinki do włosów.
                </p>
                <p><strong>Usługa obejmuje Wrocław i okolice.</strong></p>
                <div class="card-wrapper">
                    <div class="card card1">
                        <img src="../../public/slubne/bukiety.jpg" alt="">
                        <p>bukiety ślubne</p>
                        <div>
                            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_26_2638)">
                                <path d="M24.725 34C24.487 34 24.2434 33.9703 24.0025 33.9065L2.09661 28.0401C0.59494 27.6265 -0.300393 26.071 0.0934402 24.5693L2.85736 14.2673C2.95936 13.889 3.34752 13.6695 3.72436 13.7658C4.10261 13.8664 4.32644 14.256 4.22586 14.6328L1.46336 24.932C1.26644 25.6828 1.71694 26.4648 2.46919 26.673L24.3666 32.5366C25.1189 32.735 25.8952 32.2873 26.0907 31.5393L27.1971 27.4395C27.2991 27.0612 27.6873 26.836 28.0655 26.9394C28.4438 27.0414 28.6662 27.431 28.5656 27.8078L27.4606 31.902C27.1277 33.1628 25.9802 34 24.725 34Z" fill="white"/>
                                <path d="M31.1666 25.4999H8.49996C6.93738 25.4999 5.66663 24.2292 5.66663 22.6666V5.66659C5.66663 4.104 6.93738 2.83325 8.49996 2.83325H31.1666C32.7292 2.83325 34 4.104 34 5.66659V22.6666C34 24.2292 32.7292 25.4999 31.1666 25.4999ZM8.49996 4.24992C7.71938 4.24992 7.08329 4.886 7.08329 5.66659V22.6666C7.08329 23.4472 7.71938 24.0833 8.49996 24.0833H31.1666C31.9472 24.0833 32.5833 23.4472 32.5833 22.6666V5.66659C32.5833 4.886 31.9472 4.24992 31.1666 4.24992H8.49996Z" fill="white"/>
                                <path d="M12.75 12.7499C11.1874 12.7499 9.91663 11.4792 9.91663 9.91659C9.91663 8.354 11.1874 7.08325 12.75 7.08325C14.3125 7.08325 15.5833 8.354 15.5833 9.91659C15.5833 11.4792 14.3125 12.7499 12.75 12.7499ZM12.75 8.49992C11.9694 8.49992 11.3333 9.136 11.3333 9.91659C11.3333 10.6972 11.9694 11.3333 12.75 11.3333C13.5305 11.3333 14.1666 10.6972 14.1666 9.91659C14.1666 9.136 13.5305 8.49992 12.75 8.49992Z" fill="white"/>
                                <path d="M6.47419 23.9841C6.29286 23.9841 6.11152 23.9147 5.97269 23.7773C5.69644 23.5011 5.69644 23.052 5.97269 22.7757L12.6636 16.0848C13.4654 15.283 14.8665 15.283 15.6684 16.0848L17.6602 18.0766L23.1739 11.4608C23.5748 10.9806 24.1641 10.7015 24.7917 10.6958H24.8073C25.4278 10.6958 26.0157 10.965 26.4209 11.4367L33.83 20.0812C34.085 20.3773 34.051 20.825 33.7535 21.08C33.4574 21.335 33.0112 21.3024 32.7548 21.0035L25.3456 12.359C25.2082 12.2003 25.0184 12.1125 24.8073 12.1125C24.6599 12.0997 24.4007 12.2017 24.2633 12.3675L18.2524 19.5797C18.1249 19.7327 17.9393 19.8248 17.7395 19.8333C17.5384 19.8475 17.3471 19.7681 17.2069 19.6265L14.6668 17.0864C14.399 16.8201 13.9329 16.8201 13.6652 17.0864L6.97427 23.7773C6.83686 23.9147 6.65552 23.9841 6.47419 23.9841Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_26_2638">
                                <rect width="34" height="34" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>galeria bukietow ślubnych</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="30" viewBox="0 0 17 30" fill="none">
                               <path d="M1 1L15 15L1 29" stroke="white" stroke-width="2"/>
                            </svg>
                        </div>
                    </div>

                    <div class="card card2">
                        <img src="../../public/slubne/butonierki.jpg" alt="">
                        <p>butonierki</p>
                        <div>
                            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_26_2638)">
                                <path d="M24.725 34C24.487 34 24.2434 33.9703 24.0025 33.9065L2.09661 28.0401C0.59494 27.6265 -0.300393 26.071 0.0934402 24.5693L2.85736 14.2673C2.95936 13.889 3.34752 13.6695 3.72436 13.7658C4.10261 13.8664 4.32644 14.256 4.22586 14.6328L1.46336 24.932C1.26644 25.6828 1.71694 26.4648 2.46919 26.673L24.3666 32.5366C25.1189 32.735 25.8952 32.2873 26.0907 31.5393L27.1971 27.4395C27.2991 27.0612 27.6873 26.836 28.0655 26.9394C28.4438 27.0414 28.6662 27.431 28.5656 27.8078L27.4606 31.902C27.1277 33.1628 25.9802 34 24.725 34Z" fill="white"/>
                                <path d="M31.1666 25.4999H8.49996C6.93738 25.4999 5.66663 24.2292 5.66663 22.6666V5.66659C5.66663 4.104 6.93738 2.83325 8.49996 2.83325H31.1666C32.7292 2.83325 34 4.104 34 5.66659V22.6666C34 24.2292 32.7292 25.4999 31.1666 25.4999ZM8.49996 4.24992C7.71938 4.24992 7.08329 4.886 7.08329 5.66659V22.6666C7.08329 23.4472 7.71938 24.0833 8.49996 24.0833H31.1666C31.9472 24.0833 32.5833 23.4472 32.5833 22.6666V5.66659C32.5833 4.886 31.9472 4.24992 31.1666 4.24992H8.49996Z" fill="white"/>
                                <path d="M12.75 12.7499C11.1874 12.7499 9.91663 11.4792 9.91663 9.91659C9.91663 8.354 11.1874 7.08325 12.75 7.08325C14.3125 7.08325 15.5833 8.354 15.5833 9.91659C15.5833 11.4792 14.3125 12.7499 12.75 12.7499ZM12.75 8.49992C11.9694 8.49992 11.3333 9.136 11.3333 9.91659C11.3333 10.6972 11.9694 11.3333 12.75 11.3333C13.5305 11.3333 14.1666 10.6972 14.1666 9.91659C14.1666 9.136 13.5305 8.49992 12.75 8.49992Z" fill="white"/>
                                <path d="M6.47419 23.9841C6.29286 23.9841 6.11152 23.9147 5.97269 23.7773C5.69644 23.5011 5.69644 23.052 5.97269 22.7757L12.6636 16.0848C13.4654 15.283 14.8665 15.283 15.6684 16.0848L17.6602 18.0766L23.1739 11.4608C23.5748 10.9806 24.1641 10.7015 24.7917 10.6958H24.8073C25.4278 10.6958 26.0157 10.965 26.4209 11.4367L33.83 20.0812C34.085 20.3773 34.051 20.825 33.7535 21.08C33.4574 21.335 33.0112 21.3024 32.7548 21.0035L25.3456 12.359C25.2082 12.2003 25.0184 12.1125 24.8073 12.1125C24.6599 12.0997 24.4007 12.2017 24.2633 12.3675L18.2524 19.5797C18.1249 19.7327 17.9393 19.8248 17.7395 19.8333C17.5384 19.8475 17.3471 19.7681 17.2069 19.6265L14.6668 17.0864C14.399 16.8201 13.9329 16.8201 13.6652 17.0864L6.97427 23.7773C6.83686 23.9147 6.65552 23.9841 6.47419 23.9841Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_26_2638">
                                <rect width="34" height="34" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>galeria butonierek</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="30" viewBox="0 0 17 30" fill="none">
                               <path d="M1 1L15 15L1 29" stroke="white" stroke-width="2"/>
                            </svg>
                        </div>
                    </div>

                    <div class="card card3">
                        <img src="../../public/slubne/wystroj.jpg" alt="">
                        <p>Wystrój sal i kościołów</p>

                                           <div>
                            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_26_2638)">
                                <path d="M24.725 34C24.487 34 24.2434 33.9703 24.0025 33.9065L2.09661 28.0401C0.59494 27.6265 -0.300393 26.071 0.0934402 24.5693L2.85736 14.2673C2.95936 13.889 3.34752 13.6695 3.72436 13.7658C4.10261 13.8664 4.32644 14.256 4.22586 14.6328L1.46336 24.932C1.26644 25.6828 1.71694 26.4648 2.46919 26.673L24.3666 32.5366C25.1189 32.735 25.8952 32.2873 26.0907 31.5393L27.1971 27.4395C27.2991 27.0612 27.6873 26.836 28.0655 26.9394C28.4438 27.0414 28.6662 27.431 28.5656 27.8078L27.4606 31.902C27.1277 33.1628 25.9802 34 24.725 34Z" fill="white"/>
                                <path d="M31.1666 25.4999H8.49996C6.93738 25.4999 5.66663 24.2292 5.66663 22.6666V5.66659C5.66663 4.104 6.93738 2.83325 8.49996 2.83325H31.1666C32.7292 2.83325 34 4.104 34 5.66659V22.6666C34 24.2292 32.7292 25.4999 31.1666 25.4999ZM8.49996 4.24992C7.71938 4.24992 7.08329 4.886 7.08329 5.66659V22.6666C7.08329 23.4472 7.71938 24.0833 8.49996 24.0833H31.1666C31.9472 24.0833 32.5833 23.4472 32.5833 22.6666V5.66659C32.5833 4.886 31.9472 4.24992 31.1666 4.24992H8.49996Z" fill="white"/>
                                <path d="M12.75 12.7499C11.1874 12.7499 9.91663 11.4792 9.91663 9.91659C9.91663 8.354 11.1874 7.08325 12.75 7.08325C14.3125 7.08325 15.5833 8.354 15.5833 9.91659C15.5833 11.4792 14.3125 12.7499 12.75 12.7499ZM12.75 8.49992C11.9694 8.49992 11.3333 9.136 11.3333 9.91659C11.3333 10.6972 11.9694 11.3333 12.75 11.3333C13.5305 11.3333 14.1666 10.6972 14.1666 9.91659C14.1666 9.136 13.5305 8.49992 12.75 8.49992Z" fill="white"/>
                                <path d="M6.47419 23.9841C6.29286 23.9841 6.11152 23.9147 5.97269 23.7773C5.69644 23.5011 5.69644 23.052 5.97269 22.7757L12.6636 16.0848C13.4654 15.283 14.8665 15.283 15.6684 16.0848L17.6602 18.0766L23.1739 11.4608C23.5748 10.9806 24.1641 10.7015 24.7917 10.6958H24.8073C25.4278 10.6958 26.0157 10.965 26.4209 11.4367L33.83 20.0812C34.085 20.3773 34.051 20.825 33.7535 21.08C33.4574 21.335 33.0112 21.3024 32.7548 21.0035L25.3456 12.359C25.2082 12.2003 25.0184 12.1125 24.8073 12.1125C24.6599 12.0997 24.4007 12.2017 24.2633 12.3675L18.2524 19.5797C18.1249 19.7327 17.9393 19.8248 17.7395 19.8333C17.5384 19.8475 17.3471 19.7681 17.2069 19.6265L14.6668 17.0864C14.399 16.8201 13.9329 16.8201 13.6652 17.0864L6.97427 23.7773C6.83686 23.9147 6.65552 23.9841 6.47419 23.9841Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_26_2638">
                                <rect width="34" height="34" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>galeria wystroj</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="30" viewBox="0 0 17 30" fill="none">
                               <path d="M1 1L15 15L1 29" stroke="white" stroke-width="2"/>
                            </svg>
                        </div>
                    </div>

                    <div class="card card4">
                        <img src="../../public/slubne/wianki.jpg" alt="">
                        <p>Wianki i tiary z żywych kwiatów</p>

                                           <div>
                            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_26_2638)">
                                <path d="M24.725 34C24.487 34 24.2434 33.9703 24.0025 33.9065L2.09661 28.0401C0.59494 27.6265 -0.300393 26.071 0.0934402 24.5693L2.85736 14.2673C2.95936 13.889 3.34752 13.6695 3.72436 13.7658C4.10261 13.8664 4.32644 14.256 4.22586 14.6328L1.46336 24.932C1.26644 25.6828 1.71694 26.4648 2.46919 26.673L24.3666 32.5366C25.1189 32.735 25.8952 32.2873 26.0907 31.5393L27.1971 27.4395C27.2991 27.0612 27.6873 26.836 28.0655 26.9394C28.4438 27.0414 28.6662 27.431 28.5656 27.8078L27.4606 31.902C27.1277 33.1628 25.9802 34 24.725 34Z" fill="white"/>
                                <path d="M31.1666 25.4999H8.49996C6.93738 25.4999 5.66663 24.2292 5.66663 22.6666V5.66659C5.66663 4.104 6.93738 2.83325 8.49996 2.83325H31.1666C32.7292 2.83325 34 4.104 34 5.66659V22.6666C34 24.2292 32.7292 25.4999 31.1666 25.4999ZM8.49996 4.24992C7.71938 4.24992 7.08329 4.886 7.08329 5.66659V22.6666C7.08329 23.4472 7.71938 24.0833 8.49996 24.0833H31.1666C31.9472 24.0833 32.5833 23.4472 32.5833 22.6666V5.66659C32.5833 4.886 31.9472 4.24992 31.1666 4.24992H8.49996Z" fill="white"/>
                                <path d="M12.75 12.7499C11.1874 12.7499 9.91663 11.4792 9.91663 9.91659C9.91663 8.354 11.1874 7.08325 12.75 7.08325C14.3125 7.08325 15.5833 8.354 15.5833 9.91659C15.5833 11.4792 14.3125 12.7499 12.75 12.7499ZM12.75 8.49992C11.9694 8.49992 11.3333 9.136 11.3333 9.91659C11.3333 10.6972 11.9694 11.3333 12.75 11.3333C13.5305 11.3333 14.1666 10.6972 14.1666 9.91659C14.1666 9.136 13.5305 8.49992 12.75 8.49992Z" fill="white"/>
                                <path d="M6.47419 23.9841C6.29286 23.9841 6.11152 23.9147 5.97269 23.7773C5.69644 23.5011 5.69644 23.052 5.97269 22.7757L12.6636 16.0848C13.4654 15.283 14.8665 15.283 15.6684 16.0848L17.6602 18.0766L23.1739 11.4608C23.5748 10.9806 24.1641 10.7015 24.7917 10.6958H24.8073C25.4278 10.6958 26.0157 10.965 26.4209 11.4367L33.83 20.0812C34.085 20.3773 34.051 20.825 33.7535 21.08C33.4574 21.335 33.0112 21.3024 32.7548 21.0035L25.3456 12.359C25.2082 12.2003 25.0184 12.1125 24.8073 12.1125C24.6599 12.0997 24.4007 12.2017 24.2633 12.3675L18.2524 19.5797C18.1249 19.7327 17.9393 19.8248 17.7395 19.8333C17.5384 19.8475 17.3471 19.7681 17.2069 19.6265L14.6668 17.0864C14.399 16.8201 13.9329 16.8201 13.6652 17.0864L6.97427 23.7773C6.83686 23.9147 6.65552 23.9841 6.47419 23.9841Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_26_2638">
                                <rect width="34" height="34" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>galeria wianków i tiar</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="30" viewBox="0 0 17 30" fill="none">
                               <path d="M1 1L15 15L1 29" stroke="white" stroke-width="2"/>
                            </svg>
                        </div>
                    </div>

                    <div class="card card5">
                        <img src="../../public/slubne/ozdobnewianki.jpg" alt="">
                        <p>Ozdobne wianki dla ukochanych zwierząt</p>

                                           <div>
                            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_26_2638)">
                                <path d="M24.725 34C24.487 34 24.2434 33.9703 24.0025 33.9065L2.09661 28.0401C0.59494 27.6265 -0.300393 26.071 0.0934402 24.5693L2.85736 14.2673C2.95936 13.889 3.34752 13.6695 3.72436 13.7658C4.10261 13.8664 4.32644 14.256 4.22586 14.6328L1.46336 24.932C1.26644 25.6828 1.71694 26.4648 2.46919 26.673L24.3666 32.5366C25.1189 32.735 25.8952 32.2873 26.0907 31.5393L27.1971 27.4395C27.2991 27.0612 27.6873 26.836 28.0655 26.9394C28.4438 27.0414 28.6662 27.431 28.5656 27.8078L27.4606 31.902C27.1277 33.1628 25.9802 34 24.725 34Z" fill="white"/>
                                <path d="M31.1666 25.4999H8.49996C6.93738 25.4999 5.66663 24.2292 5.66663 22.6666V5.66659C5.66663 4.104 6.93738 2.83325 8.49996 2.83325H31.1666C32.7292 2.83325 34 4.104 34 5.66659V22.6666C34 24.2292 32.7292 25.4999 31.1666 25.4999ZM8.49996 4.24992C7.71938 4.24992 7.08329 4.886 7.08329 5.66659V22.6666C7.08329 23.4472 7.71938 24.0833 8.49996 24.0833H31.1666C31.9472 24.0833 32.5833 23.4472 32.5833 22.6666V5.66659C32.5833 4.886 31.9472 4.24992 31.1666 4.24992H8.49996Z" fill="white"/>
                                <path d="M12.75 12.7499C11.1874 12.7499 9.91663 11.4792 9.91663 9.91659C9.91663 8.354 11.1874 7.08325 12.75 7.08325C14.3125 7.08325 15.5833 8.354 15.5833 9.91659C15.5833 11.4792 14.3125 12.7499 12.75 12.7499ZM12.75 8.49992C11.9694 8.49992 11.3333 9.136 11.3333 9.91659C11.3333 10.6972 11.9694 11.3333 12.75 11.3333C13.5305 11.3333 14.1666 10.6972 14.1666 9.91659C14.1666 9.136 13.5305 8.49992 12.75 8.49992Z" fill="white"/>
                                <path d="M6.47419 23.9841C6.29286 23.9841 6.11152 23.9147 5.97269 23.7773C5.69644 23.5011 5.69644 23.052 5.97269 22.7757L12.6636 16.0848C13.4654 15.283 14.8665 15.283 15.6684 16.0848L17.6602 18.0766L23.1739 11.4608C23.5748 10.9806 24.1641 10.7015 24.7917 10.6958H24.8073C25.4278 10.6958 26.0157 10.965 26.4209 11.4367L33.83 20.0812C34.085 20.3773 34.051 20.825 33.7535 21.08C33.4574 21.335 33.0112 21.3024 32.7548 21.0035L25.3456 12.359C25.2082 12.2003 25.0184 12.1125 24.8073 12.1125C24.6599 12.0997 24.4007 12.2017 24.2633 12.3675L18.2524 19.5797C18.1249 19.7327 17.9393 19.8248 17.7395 19.8333C17.5384 19.8475 17.3471 19.7681 17.2069 19.6265L14.6668 17.0864C14.399 16.8201 13.9329 16.8201 13.6652 17.0864L6.97427 23.7773C6.83686 23.9147 6.65552 23.9841 6.47419 23.9841Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_26_2638">
                                <rect width="34" height="34" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>galeria wianków dla zwierząt</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="30" viewBox="0 0 17 30" fill="none">
                               <path d="M1 1L15 15L1 29" stroke="white" stroke-width="2"/>
                            </svg>
                        </div>
                    </div>

                </div>
                <div class="btn-wrapper">
                    <h4>Skomponuj wymarzone dekoracje ślubne</h4>
                    <a href="#" class="btn btn-primary">Skontaktuj się ze mną</a>
                    <a href="#" class="btn btn-black-outline">sprawdź gotowe kompozycje</a>
                </div>
            </div>

        </div>
    </div>

</section>


<section class="section-border-top">
    <div class="container">

        <div class="wrapper-right">
            <div class="wrapper">
                <h3>ringi, wieńce, serca</h3>
                <p>Wianki na każda okazję, urodziny, ozdobny wianek na drzwi, lub jako dekoracje stołu ze świecą.
                Zrobimy je dla Ciebie z żywych, suchych i sztucznych kwiatów. Będzie on przepiękną ozdobą
                w witrynach sklepowych. Możemy położyć go na trumnie w ostatnim pożegnaniu.
                </p>
                <p>Cena od 250 zł. w zależności od wielkości i użytych kwiatów.</p>
                <p><strong>Usługa obejmuje Wrocław i okolice.</strong></p>

                <div class="card-wrapper-row">
                    <div class="card">
                        <img src="../../public/wience/ring1.jpg" alt="">
                        <p>ringi</p>
                        <div>
                            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_26_2638)">
                                <path d="M24.725 34C24.487 34 24.2434 33.9703 24.0025 33.9065L2.09661 28.0401C0.59494 27.6265 -0.300393 26.071 0.0934402 24.5693L2.85736 14.2673C2.95936 13.889 3.34752 13.6695 3.72436 13.7658C4.10261 13.8664 4.32644 14.256 4.22586 14.6328L1.46336 24.932C1.26644 25.6828 1.71694 26.4648 2.46919 26.673L24.3666 32.5366C25.1189 32.735 25.8952 32.2873 26.0907 31.5393L27.1971 27.4395C27.2991 27.0612 27.6873 26.836 28.0655 26.9394C28.4438 27.0414 28.6662 27.431 28.5656 27.8078L27.4606 31.902C27.1277 33.1628 25.9802 34 24.725 34Z" fill="white"/>
                                <path d="M31.1666 25.4999H8.49996C6.93738 25.4999 5.66663 24.2292 5.66663 22.6666V5.66659C5.66663 4.104 6.93738 2.83325 8.49996 2.83325H31.1666C32.7292 2.83325 34 4.104 34 5.66659V22.6666C34 24.2292 32.7292 25.4999 31.1666 25.4999ZM8.49996 4.24992C7.71938 4.24992 7.08329 4.886 7.08329 5.66659V22.6666C7.08329 23.4472 7.71938 24.0833 8.49996 24.0833H31.1666C31.9472 24.0833 32.5833 23.4472 32.5833 22.6666V5.66659C32.5833 4.886 31.9472 4.24992 31.1666 4.24992H8.49996Z" fill="white"/>
                                <path d="M12.75 12.7499C11.1874 12.7499 9.91663 11.4792 9.91663 9.91659C9.91663 8.354 11.1874 7.08325 12.75 7.08325C14.3125 7.08325 15.5833 8.354 15.5833 9.91659C15.5833 11.4792 14.3125 12.7499 12.75 12.7499ZM12.75 8.49992C11.9694 8.49992 11.3333 9.136 11.3333 9.91659C11.3333 10.6972 11.9694 11.3333 12.75 11.3333C13.5305 11.3333 14.1666 10.6972 14.1666 9.91659C14.1666 9.136 13.5305 8.49992 12.75 8.49992Z" fill="white"/>
                                <path d="M6.47419 23.9841C6.29286 23.9841 6.11152 23.9147 5.97269 23.7773C5.69644 23.5011 5.69644 23.052 5.97269 22.7757L12.6636 16.0848C13.4654 15.283 14.8665 15.283 15.6684 16.0848L17.6602 18.0766L23.1739 11.4608C23.5748 10.9806 24.1641 10.7015 24.7917 10.6958H24.8073C25.4278 10.6958 26.0157 10.965 26.4209 11.4367L33.83 20.0812C34.085 20.3773 34.051 20.825 33.7535 21.08C33.4574 21.335 33.0112 21.3024 32.7548 21.0035L25.3456 12.359C25.2082 12.2003 25.0184 12.1125 24.8073 12.1125C24.6599 12.0997 24.4007 12.2017 24.2633 12.3675L18.2524 19.5797C18.1249 19.7327 17.9393 19.8248 17.7395 19.8333C17.5384 19.8475 17.3471 19.7681 17.2069 19.6265L14.6668 17.0864C14.399 16.8201 13.9329 16.8201 13.6652 17.0864L6.97427 23.7773C6.83686 23.9147 6.65552 23.9841 6.47419 23.9841Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_26_2638">
                                <rect width="34" height="34" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>ringi</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="30" viewBox="0 0 17 30" fill="none">
                               <path d="M1 1L15 15L1 29" stroke="white" stroke-width="2"/>
                            </svg>
                        </div>
                    </div>
                                        <div class="card">
                        <img src="../../public/wience/ring2.jpg" alt="">

                        <p>wieńce</p>
                        <div>
                            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_26_2638)">
                                <path d="M24.725 34C24.487 34 24.2434 33.9703 24.0025 33.9065L2.09661 28.0401C0.59494 27.6265 -0.300393 26.071 0.0934402 24.5693L2.85736 14.2673C2.95936 13.889 3.34752 13.6695 3.72436 13.7658C4.10261 13.8664 4.32644 14.256 4.22586 14.6328L1.46336 24.932C1.26644 25.6828 1.71694 26.4648 2.46919 26.673L24.3666 32.5366C25.1189 32.735 25.8952 32.2873 26.0907 31.5393L27.1971 27.4395C27.2991 27.0612 27.6873 26.836 28.0655 26.9394C28.4438 27.0414 28.6662 27.431 28.5656 27.8078L27.4606 31.902C27.1277 33.1628 25.9802 34 24.725 34Z" fill="white"/>
                                <path d="M31.1666 25.4999H8.49996C6.93738 25.4999 5.66663 24.2292 5.66663 22.6666V5.66659C5.66663 4.104 6.93738 2.83325 8.49996 2.83325H31.1666C32.7292 2.83325 34 4.104 34 5.66659V22.6666C34 24.2292 32.7292 25.4999 31.1666 25.4999ZM8.49996 4.24992C7.71938 4.24992 7.08329 4.886 7.08329 5.66659V22.6666C7.08329 23.4472 7.71938 24.0833 8.49996 24.0833H31.1666C31.9472 24.0833 32.5833 23.4472 32.5833 22.6666V5.66659C32.5833 4.886 31.9472 4.24992 31.1666 4.24992H8.49996Z" fill="white"/>
                                <path d="M12.75 12.7499C11.1874 12.7499 9.91663 11.4792 9.91663 9.91659C9.91663 8.354 11.1874 7.08325 12.75 7.08325C14.3125 7.08325 15.5833 8.354 15.5833 9.91659C15.5833 11.4792 14.3125 12.7499 12.75 12.7499ZM12.75 8.49992C11.9694 8.49992 11.3333 9.136 11.3333 9.91659C11.3333 10.6972 11.9694 11.3333 12.75 11.3333C13.5305 11.3333 14.1666 10.6972 14.1666 9.91659C14.1666 9.136 13.5305 8.49992 12.75 8.49992Z" fill="white"/>
                                <path d="M6.47419 23.9841C6.29286 23.9841 6.11152 23.9147 5.97269 23.7773C5.69644 23.5011 5.69644 23.052 5.97269 22.7757L12.6636 16.0848C13.4654 15.283 14.8665 15.283 15.6684 16.0848L17.6602 18.0766L23.1739 11.4608C23.5748 10.9806 24.1641 10.7015 24.7917 10.6958H24.8073C25.4278 10.6958 26.0157 10.965 26.4209 11.4367L33.83 20.0812C34.085 20.3773 34.051 20.825 33.7535 21.08C33.4574 21.335 33.0112 21.3024 32.7548 21.0035L25.3456 12.359C25.2082 12.2003 25.0184 12.1125 24.8073 12.1125C24.6599 12.0997 24.4007 12.2017 24.2633 12.3675L18.2524 19.5797C18.1249 19.7327 17.9393 19.8248 17.7395 19.8333C17.5384 19.8475 17.3471 19.7681 17.2069 19.6265L14.6668 17.0864C14.399 16.8201 13.9329 16.8201 13.6652 17.0864L6.97427 23.7773C6.83686 23.9147 6.65552 23.9841 6.47419 23.9841Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_26_2638">
                                <rect width="34" height="34" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>wieńce</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="30" viewBox="0 0 17 30" fill="none">
                               <path d="M1 1L15 15L1 29" stroke="white" stroke-width="2"/>
                            </svg>
                        </div>
                    </div>
                                        <div class="card">
                        <img src="../../public/wience/ring3.jpg" alt="">

                        <p>serca</p>
                        <div>
                            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_26_2638)">
                                <path d="M24.725 34C24.487 34 24.2434 33.9703 24.0025 33.9065L2.09661 28.0401C0.59494 27.6265 -0.300393 26.071 0.0934402 24.5693L2.85736 14.2673C2.95936 13.889 3.34752 13.6695 3.72436 13.7658C4.10261 13.8664 4.32644 14.256 4.22586 14.6328L1.46336 24.932C1.26644 25.6828 1.71694 26.4648 2.46919 26.673L24.3666 32.5366C25.1189 32.735 25.8952 32.2873 26.0907 31.5393L27.1971 27.4395C27.2991 27.0612 27.6873 26.836 28.0655 26.9394C28.4438 27.0414 28.6662 27.431 28.5656 27.8078L27.4606 31.902C27.1277 33.1628 25.9802 34 24.725 34Z" fill="white"/>
                                <path d="M31.1666 25.4999H8.49996C6.93738 25.4999 5.66663 24.2292 5.66663 22.6666V5.66659C5.66663 4.104 6.93738 2.83325 8.49996 2.83325H31.1666C32.7292 2.83325 34 4.104 34 5.66659V22.6666C34 24.2292 32.7292 25.4999 31.1666 25.4999ZM8.49996 4.24992C7.71938 4.24992 7.08329 4.886 7.08329 5.66659V22.6666C7.08329 23.4472 7.71938 24.0833 8.49996 24.0833H31.1666C31.9472 24.0833 32.5833 23.4472 32.5833 22.6666V5.66659C32.5833 4.886 31.9472 4.24992 31.1666 4.24992H8.49996Z" fill="white"/>
                                <path d="M12.75 12.7499C11.1874 12.7499 9.91663 11.4792 9.91663 9.91659C9.91663 8.354 11.1874 7.08325 12.75 7.08325C14.3125 7.08325 15.5833 8.354 15.5833 9.91659C15.5833 11.4792 14.3125 12.7499 12.75 12.7499ZM12.75 8.49992C11.9694 8.49992 11.3333 9.136 11.3333 9.91659C11.3333 10.6972 11.9694 11.3333 12.75 11.3333C13.5305 11.3333 14.1666 10.6972 14.1666 9.91659C14.1666 9.136 13.5305 8.49992 12.75 8.49992Z" fill="white"/>
                                <path d="M6.47419 23.9841C6.29286 23.9841 6.11152 23.9147 5.97269 23.7773C5.69644 23.5011 5.69644 23.052 5.97269 22.7757L12.6636 16.0848C13.4654 15.283 14.8665 15.283 15.6684 16.0848L17.6602 18.0766L23.1739 11.4608C23.5748 10.9806 24.1641 10.7015 24.7917 10.6958H24.8073C25.4278 10.6958 26.0157 10.965 26.4209 11.4367L33.83 20.0812C34.085 20.3773 34.051 20.825 33.7535 21.08C33.4574 21.335 33.0112 21.3024 32.7548 21.0035L25.3456 12.359C25.2082 12.2003 25.0184 12.1125 24.8073 12.1125C24.6599 12.0997 24.4007 12.2017 24.2633 12.3675L18.2524 19.5797C18.1249 19.7327 17.9393 19.8248 17.7395 19.8333C17.5384 19.8475 17.3471 19.7681 17.2069 19.6265L14.6668 17.0864C14.399 16.8201 13.9329 16.8201 13.6652 17.0864L6.97427 23.7773C6.83686 23.9147 6.65552 23.9841 6.47419 23.9841Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_26_2638">
                                <rect width="34" height="34" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>serca</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="30" viewBox="0 0 17 30" fill="none">
                               <path d="M1 1L15 15L1 29" stroke="white" stroke-width="2"/>
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="btn-wrapper">
                    <h4>skomponuj własne ringi, wieńce lub serca</h4>
                    <a href="#" class="btn btn-primary">Skontaktuj się ze mną</a>
                    <a href="#" class="btn btn-black-outline">sprawdź gotowe kompozycje</a>
                </div>
            </div>
            <div class="wrapper-image">
                <img src="../../public/ringi.jpg" alt="">

            </div>
        </div>

    </div>

</section>


<section class="section-border-top">
    <div class="container">
        <div class="wrapper-left">
            <div class="wrapper-image">
                <img src="../../public/groby.jpg" alt="">
            </div>
            <div class="wrapper">
                <h3>Dekoracje grobów</h3>
                <p>Każdy z nas na swojej życiowej drodze staje przed trumną osoby, która odeszła z tego świata.
                    W hołdzie i pamięci naszym Ukochanym mamy ofertę, w której można stworzyć lub wybrać z
                    bogatej kolekcji kompozycje, które będą odzwierciedleniem lub uhonorowaniem życia osoby
                    zmarłej. Mogą to być:
                </p>
                <div class="card-wrapper-2-columns">
                    <div class="card ">
                        <img src="../../public/groby/groby1.jpg" alt="">
                        <p>wieńce </p>
                        <div>
                            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_26_2638)">
                                <path d="M24.725 34C24.487 34 24.2434 33.9703 24.0025 33.9065L2.09661 28.0401C0.59494 27.6265 -0.300393 26.071 0.0934402 24.5693L2.85736 14.2673C2.95936 13.889 3.34752 13.6695 3.72436 13.7658C4.10261 13.8664 4.32644 14.256 4.22586 14.6328L1.46336 24.932C1.26644 25.6828 1.71694 26.4648 2.46919 26.673L24.3666 32.5366C25.1189 32.735 25.8952 32.2873 26.0907 31.5393L27.1971 27.4395C27.2991 27.0612 27.6873 26.836 28.0655 26.9394C28.4438 27.0414 28.6662 27.431 28.5656 27.8078L27.4606 31.902C27.1277 33.1628 25.9802 34 24.725 34Z" fill="white"/>
                                <path d="M31.1666 25.4999H8.49996C6.93738 25.4999 5.66663 24.2292 5.66663 22.6666V5.66659C5.66663 4.104 6.93738 2.83325 8.49996 2.83325H31.1666C32.7292 2.83325 34 4.104 34 5.66659V22.6666C34 24.2292 32.7292 25.4999 31.1666 25.4999ZM8.49996 4.24992C7.71938 4.24992 7.08329 4.886 7.08329 5.66659V22.6666C7.08329 23.4472 7.71938 24.0833 8.49996 24.0833H31.1666C31.9472 24.0833 32.5833 23.4472 32.5833 22.6666V5.66659C32.5833 4.886 31.9472 4.24992 31.1666 4.24992H8.49996Z" fill="white"/>
                                <path d="M12.75 12.7499C11.1874 12.7499 9.91663 11.4792 9.91663 9.91659C9.91663 8.354 11.1874 7.08325 12.75 7.08325C14.3125 7.08325 15.5833 8.354 15.5833 9.91659C15.5833 11.4792 14.3125 12.7499 12.75 12.7499ZM12.75 8.49992C11.9694 8.49992 11.3333 9.136 11.3333 9.91659C11.3333 10.6972 11.9694 11.3333 12.75 11.3333C13.5305 11.3333 14.1666 10.6972 14.1666 9.91659C14.1666 9.136 13.5305 8.49992 12.75 8.49992Z" fill="white"/>
                                <path d="M6.47419 23.9841C6.29286 23.9841 6.11152 23.9147 5.97269 23.7773C5.69644 23.5011 5.69644 23.052 5.97269 22.7757L12.6636 16.0848C13.4654 15.283 14.8665 15.283 15.6684 16.0848L17.6602 18.0766L23.1739 11.4608C23.5748 10.9806 24.1641 10.7015 24.7917 10.6958H24.8073C25.4278 10.6958 26.0157 10.965 26.4209 11.4367L33.83 20.0812C34.085 20.3773 34.051 20.825 33.7535 21.08C33.4574 21.335 33.0112 21.3024 32.7548 21.0035L25.3456 12.359C25.2082 12.2003 25.0184 12.1125 24.8073 12.1125C24.6599 12.0997 24.4007 12.2017 24.2633 12.3675L18.2524 19.5797C18.1249 19.7327 17.9393 19.8248 17.7395 19.8333C17.5384 19.8475 17.3471 19.7681 17.2069 19.6265L14.6668 17.0864C14.399 16.8201 13.9329 16.8201 13.6652 17.0864L6.97427 23.7773C6.83686 23.9147 6.65552 23.9841 6.47419 23.9841Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_26_2638">
                                <rect width="34" height="34" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>galeria wieńców</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="30" viewBox="0 0 17 30" fill="none">
                               <path d="M1 1L15 15L1 29" stroke="white" stroke-width="2"/>
                            </svg>
                        </div>
                    </div>

                    <div class="card ">
                        <img src="../../public/groby/groby2.jpg" alt="">

                        <p>wiązanki z szarfami</p>
                        <div>
                            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_26_2638)">
                                <path d="M24.725 34C24.487 34 24.2434 33.9703 24.0025 33.9065L2.09661 28.0401C0.59494 27.6265 -0.300393 26.071 0.0934402 24.5693L2.85736 14.2673C2.95936 13.889 3.34752 13.6695 3.72436 13.7658C4.10261 13.8664 4.32644 14.256 4.22586 14.6328L1.46336 24.932C1.26644 25.6828 1.71694 26.4648 2.46919 26.673L24.3666 32.5366C25.1189 32.735 25.8952 32.2873 26.0907 31.5393L27.1971 27.4395C27.2991 27.0612 27.6873 26.836 28.0655 26.9394C28.4438 27.0414 28.6662 27.431 28.5656 27.8078L27.4606 31.902C27.1277 33.1628 25.9802 34 24.725 34Z" fill="white"/>
                                <path d="M31.1666 25.4999H8.49996C6.93738 25.4999 5.66663 24.2292 5.66663 22.6666V5.66659C5.66663 4.104 6.93738 2.83325 8.49996 2.83325H31.1666C32.7292 2.83325 34 4.104 34 5.66659V22.6666C34 24.2292 32.7292 25.4999 31.1666 25.4999ZM8.49996 4.24992C7.71938 4.24992 7.08329 4.886 7.08329 5.66659V22.6666C7.08329 23.4472 7.71938 24.0833 8.49996 24.0833H31.1666C31.9472 24.0833 32.5833 23.4472 32.5833 22.6666V5.66659C32.5833 4.886 31.9472 4.24992 31.1666 4.24992H8.49996Z" fill="white"/>
                                <path d="M12.75 12.7499C11.1874 12.7499 9.91663 11.4792 9.91663 9.91659C9.91663 8.354 11.1874 7.08325 12.75 7.08325C14.3125 7.08325 15.5833 8.354 15.5833 9.91659C15.5833 11.4792 14.3125 12.7499 12.75 12.7499ZM12.75 8.49992C11.9694 8.49992 11.3333 9.136 11.3333 9.91659C11.3333 10.6972 11.9694 11.3333 12.75 11.3333C13.5305 11.3333 14.1666 10.6972 14.1666 9.91659C14.1666 9.136 13.5305 8.49992 12.75 8.49992Z" fill="white"/>
                                <path d="M6.47419 23.9841C6.29286 23.9841 6.11152 23.9147 5.97269 23.7773C5.69644 23.5011 5.69644 23.052 5.97269 22.7757L12.6636 16.0848C13.4654 15.283 14.8665 15.283 15.6684 16.0848L17.6602 18.0766L23.1739 11.4608C23.5748 10.9806 24.1641 10.7015 24.7917 10.6958H24.8073C25.4278 10.6958 26.0157 10.965 26.4209 11.4367L33.83 20.0812C34.085 20.3773 34.051 20.825 33.7535 21.08C33.4574 21.335 33.0112 21.3024 32.7548 21.0035L25.3456 12.359C25.2082 12.2003 25.0184 12.1125 24.8073 12.1125C24.6599 12.0997 24.4007 12.2017 24.2633 12.3675L18.2524 19.5797C18.1249 19.7327 17.9393 19.8248 17.7395 19.8333C17.5384 19.8475 17.3471 19.7681 17.2069 19.6265L14.6668 17.0864C14.399 16.8201 13.9329 16.8201 13.6652 17.0864L6.97427 23.7773C6.83686 23.9147 6.65552 23.9841 6.47419 23.9841Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_26_2638">
                                <rect width="34" height="34" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>galeria wiązanek</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="30" viewBox="0 0 17 30" fill="none">
                               <path d="M1 1L15 15L1 29" stroke="white" stroke-width="2"/>
                            </svg>
                        </div>
                    </div>

                    <div class="card ">
                        <img src="../../public/groby/groby3.jpg" alt="">

                        <p>serca lub krzyże</p>

                                           <div>
                            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_26_2638)">
                                <path d="M24.725 34C24.487 34 24.2434 33.9703 24.0025 33.9065L2.09661 28.0401C0.59494 27.6265 -0.300393 26.071 0.0934402 24.5693L2.85736 14.2673C2.95936 13.889 3.34752 13.6695 3.72436 13.7658C4.10261 13.8664 4.32644 14.256 4.22586 14.6328L1.46336 24.932C1.26644 25.6828 1.71694 26.4648 2.46919 26.673L24.3666 32.5366C25.1189 32.735 25.8952 32.2873 26.0907 31.5393L27.1971 27.4395C27.2991 27.0612 27.6873 26.836 28.0655 26.9394C28.4438 27.0414 28.6662 27.431 28.5656 27.8078L27.4606 31.902C27.1277 33.1628 25.9802 34 24.725 34Z" fill="white"/>
                                <path d="M31.1666 25.4999H8.49996C6.93738 25.4999 5.66663 24.2292 5.66663 22.6666V5.66659C5.66663 4.104 6.93738 2.83325 8.49996 2.83325H31.1666C32.7292 2.83325 34 4.104 34 5.66659V22.6666C34 24.2292 32.7292 25.4999 31.1666 25.4999ZM8.49996 4.24992C7.71938 4.24992 7.08329 4.886 7.08329 5.66659V22.6666C7.08329 23.4472 7.71938 24.0833 8.49996 24.0833H31.1666C31.9472 24.0833 32.5833 23.4472 32.5833 22.6666V5.66659C32.5833 4.886 31.9472 4.24992 31.1666 4.24992H8.49996Z" fill="white"/>
                                <path d="M12.75 12.7499C11.1874 12.7499 9.91663 11.4792 9.91663 9.91659C9.91663 8.354 11.1874 7.08325 12.75 7.08325C14.3125 7.08325 15.5833 8.354 15.5833 9.91659C15.5833 11.4792 14.3125 12.7499 12.75 12.7499ZM12.75 8.49992C11.9694 8.49992 11.3333 9.136 11.3333 9.91659C11.3333 10.6972 11.9694 11.3333 12.75 11.3333C13.5305 11.3333 14.1666 10.6972 14.1666 9.91659C14.1666 9.136 13.5305 8.49992 12.75 8.49992Z" fill="white"/>
                                <path d="M6.47419 23.9841C6.29286 23.9841 6.11152 23.9147 5.97269 23.7773C5.69644 23.5011 5.69644 23.052 5.97269 22.7757L12.6636 16.0848C13.4654 15.283 14.8665 15.283 15.6684 16.0848L17.6602 18.0766L23.1739 11.4608C23.5748 10.9806 24.1641 10.7015 24.7917 10.6958H24.8073C25.4278 10.6958 26.0157 10.965 26.4209 11.4367L33.83 20.0812C34.085 20.3773 34.051 20.825 33.7535 21.08C33.4574 21.335 33.0112 21.3024 32.7548 21.0035L25.3456 12.359C25.2082 12.2003 25.0184 12.1125 24.8073 12.1125C24.6599 12.0997 24.4007 12.2017 24.2633 12.3675L18.2524 19.5797C18.1249 19.7327 17.9393 19.8248 17.7395 19.8333C17.5384 19.8475 17.3471 19.7681 17.2069 19.6265L14.6668 17.0864C14.399 16.8201 13.9329 16.8201 13.6652 17.0864L6.97427 23.7773C6.83686 23.9147 6.65552 23.9841 6.47419 23.9841Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_26_2638">
                                <rect width="34" height="34" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>galeria serc i krzyży</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="30" viewBox="0 0 17 30" fill="none">
                               <path d="M1 1L15 15L1 29" stroke="white" stroke-width="2"/>
                            </svg>
                        </div>
                    </div>

                    <div class="card ">
                        <img src="../../public/groby/groby4.jpg" alt="">

                        <p>aranżacje na trumnę</p>

                                           <div>
                            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_26_2638)">
                                <path d="M24.725 34C24.487 34 24.2434 33.9703 24.0025 33.9065L2.09661 28.0401C0.59494 27.6265 -0.300393 26.071 0.0934402 24.5693L2.85736 14.2673C2.95936 13.889 3.34752 13.6695 3.72436 13.7658C4.10261 13.8664 4.32644 14.256 4.22586 14.6328L1.46336 24.932C1.26644 25.6828 1.71694 26.4648 2.46919 26.673L24.3666 32.5366C25.1189 32.735 25.8952 32.2873 26.0907 31.5393L27.1971 27.4395C27.2991 27.0612 27.6873 26.836 28.0655 26.9394C28.4438 27.0414 28.6662 27.431 28.5656 27.8078L27.4606 31.902C27.1277 33.1628 25.9802 34 24.725 34Z" fill="white"/>
                                <path d="M31.1666 25.4999H8.49996C6.93738 25.4999 5.66663 24.2292 5.66663 22.6666V5.66659C5.66663 4.104 6.93738 2.83325 8.49996 2.83325H31.1666C32.7292 2.83325 34 4.104 34 5.66659V22.6666C34 24.2292 32.7292 25.4999 31.1666 25.4999ZM8.49996 4.24992C7.71938 4.24992 7.08329 4.886 7.08329 5.66659V22.6666C7.08329 23.4472 7.71938 24.0833 8.49996 24.0833H31.1666C31.9472 24.0833 32.5833 23.4472 32.5833 22.6666V5.66659C32.5833 4.886 31.9472 4.24992 31.1666 4.24992H8.49996Z" fill="white"/>
                                <path d="M12.75 12.7499C11.1874 12.7499 9.91663 11.4792 9.91663 9.91659C9.91663 8.354 11.1874 7.08325 12.75 7.08325C14.3125 7.08325 15.5833 8.354 15.5833 9.91659C15.5833 11.4792 14.3125 12.7499 12.75 12.7499ZM12.75 8.49992C11.9694 8.49992 11.3333 9.136 11.3333 9.91659C11.3333 10.6972 11.9694 11.3333 12.75 11.3333C13.5305 11.3333 14.1666 10.6972 14.1666 9.91659C14.1666 9.136 13.5305 8.49992 12.75 8.49992Z" fill="white"/>
                                <path d="M6.47419 23.9841C6.29286 23.9841 6.11152 23.9147 5.97269 23.7773C5.69644 23.5011 5.69644 23.052 5.97269 22.7757L12.6636 16.0848C13.4654 15.283 14.8665 15.283 15.6684 16.0848L17.6602 18.0766L23.1739 11.4608C23.5748 10.9806 24.1641 10.7015 24.7917 10.6958H24.8073C25.4278 10.6958 26.0157 10.965 26.4209 11.4367L33.83 20.0812C34.085 20.3773 34.051 20.825 33.7535 21.08C33.4574 21.335 33.0112 21.3024 32.7548 21.0035L25.3456 12.359C25.2082 12.2003 25.0184 12.1125 24.8073 12.1125C24.6599 12.0997 24.4007 12.2017 24.2633 12.3675L18.2524 19.5797C18.1249 19.7327 17.9393 19.8248 17.7395 19.8333C17.5384 19.8475 17.3471 19.7681 17.2069 19.6265L14.6668 17.0864C14.399 16.8201 13.9329 16.8201 13.6652 17.0864L6.97427 23.7773C6.83686 23.9147 6.65552 23.9841 6.47419 23.9841Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_26_2638">
                                <rect width="34" height="34" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <span>galeria aranźacji</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="30" viewBox="0 0 17 30" fill="none">
                               <path d="M1 1L15 15L1 29" stroke="white" stroke-width="2"/>
                            </svg>
                        </div>
                    </div>

                </div>
                <p>zrobione z żywych lub sztucznych kwiatów, w zależności od życzeń klienta i pory roku.
                    Cena w zależności od rodzaju i wielkości kompozycji
                    aranżacje na trumnę od 500 zł.
                </p>
                <div class="btn-wrapper">
                    <h4>Personalizowane dekoracje grobowe</h4>
                    <a href="#" class="btn btn-primary">Skontaktuj się ze mną</a>
                    <a href="#" class="btn btn-black-outline">sprawdź gotowe kompozycje</a>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="section-border-top">
    <div class="container"></div>

</section>


<style lang="scss">

.card-wrapper-2-columns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom:20px; 
    @media screen and (min-width:992px) {
        grid-template-columns: 1fr 1fr;
        gap:30px;
        margin-bottom: 30px;
    }
}

.section-border-top {
    border-top:1px solid #E7E7E7;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    .card1 { grid-area: 1 / 1 / 2 / 2; }
    .card2 { grid-area: 1 / 2 / 2 / 3; }
    .card3 { grid-area: 2 / 1 / 3 / 2; }
    .card4 { grid-area: 2 / 2 / 3 / 3; }
    .card5 { grid-area: 3 / 1 / 4 / 3; }
}

.card {
    position: relative;

    img {
        opacity: .35;
        transition: .3s ease-in-out all;
    }

    p {
        position: absolute;
        bottom: 10px;
        left: 10px;
        margin-bottom: 0;
        background: white;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
        display: inline-flex;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        color: #151515;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.64px;
        text-transform: uppercase;
        z-index: 1;
        transition: .3s ease-in-out all;

    }
    div {
        opacity: 0;
        position: absolute;
        top:0px;
        left:0px;
        display: flex;
        align-items: center;
        justify-content: center;
        color:white;
        height: 100%;
        width:100%;
        gap:20px;
        text-transform: uppercase;
        transition: .3s ease-in-out all;
        background-color: rgb(21, 21, 21, .5);
        cursor: pointer;
    }
    &:hover {
        p {
            opacity: 0;
        }
        img {
            opacity: 1;
        }
        div {
            opacity: 1;
        }
    }
}

.btn-wrapper {
    margin-top:20px;
    @media screen and (min-width:992px) {
        margin-top:60px;
    }
    .btn-primary {
        margin-right: 10px;
        @media screen and (min-width:992px) {
            margin-right: 20px;
        }
    }
}

.wrapper-left {
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap:30px;
    position: relative;

    .wrapper-image {
        position: relative; 
        img {
            width: 120vw;
            height: 135px;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
            position: relative;
            left: -15px;
            @media screen and (min-width:1200px) {
                height: 100%;
                position: absolute;
                left: -15%;
            }
        }
    }
}

.card-wrapper-row {
    display: grid;

    @media screen and (min-width:992px) {
        grid-template-columns: 1fr 1fr 1fr;
        gap:30px;
    }

    .card {
        min-height: 180px;
        img {
            height: 100%;
            object-fit: cover;
        }
    }

}
.wrapper-right {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap:30px;
    position: relative;

    .wrapper-image {
        position: relative; 
        img {
            width: 120vw;
            height: 135px;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
            position: relative;
            right: -15px;
            @media screen and (min-width:1200px) {
                height: 100%;
                position: absolute;
                right: -15%;
            }
        }
    }
}

</style>

